<div ng-show="showCamera" class="cameraModal stickers">

    <!-- SNAP BUTTON -->
    <div ng-hide="showPreview" class="controls" style="z-index: 100;">
        <md-button ng-click="CSDK.snap();" class="md-fab" style="background: transparent; border: 8px solid white; left: calc(50% - 28px);"></md-button>
        <md-button ng-show="!showPreview" style="left: 15px;" ng-click="CSDK.flipCamera()" class="unraised md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="assets/svg/stickers/arrows-rotate.svg"></md-icon>
        </md-button>
    </div>

    <!-- CANVASSES -->
    <canvas ng-hide="finalOptions" ng-click="CSDK.toggleStickerOptions(false);" id="camera"></canvas>
    <canvas ng-hide="finalOptions" ng-click="CSDK.toggleStickerOptions(false);" id="overlay"></canvas>
    <canvas ng-click="CSDK.toggleStickerOptions(false);" ng-class="{'finalPreview': finalOptions}" ng-show="showPreview" style="-webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)!important;" id="result"></canvas>

    <canvas ng-hide="editing_text || text.value == 'Ingresa tu texto aquí...'" style="z-index: 9;" id="text"></canvas>

    <canvas id="measureCanvas" style="opacity: 0; z-index: -1;"></canvas>

    <div class="shutter" ng-class="{'opaque': snapping}" ng-show="snapping"></div>

    <div ng-show="finalOptions" id="finalOptions">
        <h3>¡La foto fue guardada!</h3>
        
        <section layout="row" md-gutter="4px" layout-sm="row" layout-align="center center" layout-wrap>
            <h3 class="col-md-12">Compartila:</h3>
            <md-button style="background-color: #3B5999; margin: 0 5px;" ng-show="showPreview" ng-click="CSDK.share('facebook')" class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="assets/svg/social/facebook.svg"></md-icon>
            </md-button>
            <md-button style="background-color: #FD9E18; margin: 0 5px;" ng-show="showPreview" ng-click="CSDK.share('instagram')" class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="assets/svg/social/instagram.svg"></md-icon>
            </md-button>
            <md-button style="background-color: #27D268; margin: 0 5px;" ng-show="showPreview" ng-click="CSDK.share('whatsapp')" class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="assets/svg/social/whatsapp.svg"></md-icon>
            </md-button>
            <md-button style="border: 1px solid white; margin: 0 5px; background: transparent;" ng-show="showPreview" ng-click="CSDK.share()" class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="assets/svg/social/more.svg"></md-icon>
            </md-button>
        </section>
            
        <div class="row">
            <div class="col-md-12">
                <md-button style="margin-left: calc(50% - 35px); background-color: white!important; height: 70px;width: 70px;z-index: 2000;" ng-click="CSDK.continueEditing()" class="md-fab" aria-label="Eat cake">
                    <md-icon style="fill: #E93260!important;" md-svg-src="assets/svg/stickers/arrow-back.svg"></md-icon>
                </md-button>
            </div>
        </div>    
    </div>

    <!-- PREVIEW OPTIONS -->
    <md-button ng-show="showPreview && !finalOptions && !editing_text" style="background-color: white!important; position: absolute;bottom: 25px;left: 20%;height: 70px;width: 70px;z-index: 2000;" ng-click="CSDK.closePreview()" class="md-fab" aria-label="Eat cake">
        <md-icon style="fill: #E93260!important;width: 35px; height: 35px;" md-svg-src="assets/svg/stickers/close.svg"></md-icon>
    </md-button>
    <md-button ng-show="!showPreview" style="position: absolute; top: 5px; left: 15px;z-index: 2000;" ng-click="CSDK.closeCamera()" class="unraised md-fab" aria-label="Eat cake">
        <md-icon style="width: 35px; height: 35px;" md-svg-src="assets/svg/stickers/arrow-back.svg"></md-icon>
    </md-button>
    <md-button ng-show="showPreview && !finalOptions && !editing_text" style="background-color: white!important; position: absolute;bottom: 25px;right: 20%;height: 70px;width: 70px;z-index: 2000;" ng-click="CSDK.savePicture()" class="md-fab" aria-label="Eat cake">
        <md-icon style="fill: #58D875!important;width: 35px; height: 35px;" md-svg-src="assets/svg/stickers/tick.svg"></md-icon>
    </md-button>
    <!--<md-button ng-show="showPreview" style="position: absolute; bottom: 7.5px; left: 85px;z-index: 2000;" ng-click="CSDK.share()" class="unraised md-fab" aria-label="Eat cake">
        <md-icon md-svg-src="assets/svg/stickers/share.svg"></md-icon>
    </md-button>-->
    <md-button ng-show="showPreview && !finalOptions && !editing_text" style="position: absolute; top: 5px; right: 15px;z-index: 2000;" ng-click="CSDK.toggleStickerOptions()" class="unraised md-fab" aria-label="Eat cake">
        <md-icon style="width: 35px; height: 35px;" md-svg-src="assets/svg/stickers/sticker.svg"></md-icon>
    </md-button>
    <md-button ng-show="showPreview && !finalOptions && !editing_text" style="position: absolute; top: 5px; right: 85px;z-index: 2000;" ng-click="CSDK.toggleText()" class="unraised md-fab" aria-label="Eat cake">
        <md-icon style="width: 35px; height: 35px;" md-svg-src="assets/svg/stickers/text-box.svg"></md-icon>
    </md-button>

    <!-- INTERACT CONTAINER -->
    <div style="width: 100%; height: calc(100%); position: absolute; top: 0; left: 0; z-index: 10; background: transparent;" class="resize-container">
        <img ng-show="sticker.visible && showStickers && !finalOptions" ng-repeat="sticker in stickers" src="{{sticker.path}}" class="rdrag resize-drag-{{$index}}" id="resize-drag-{{$index}}">

        <div id="textDummy" style="background: rgba(54,2,150,0); width: {{text.width}}px; height: {{text.height}}px;"></div>
    </div>

    <!-- LOADER -->
    <div ng-show="showLoader" class="loading-back"></div>
    <div ng-show="showLoader" class="loading-content">
        <md-progress-circular ng-show="showLoader" md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- TEXT ADDER -->
    <div ng-show="editing_text" class="text-adder">
        <div ng-click="CSDK.toggleText()" style="width: 100%;height: 100%;"></div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <md-button ng-click="CSDK.select_color('#db4513')" class="md-fab md-mini swiper-slide" style="background-color: #db4513; height: 45px;width: 45px;border: 2px solid white;"></md-button>
                <md-button ng-click="CSDK.select_color('#5e1cce')" class="md-fab md-mini swiper-slide" style="background-color: #5e1cce; height: 45px;width: 45px;border: 2px solid white;"></md-button>
                <md-button ng-click="CSDK.select_color('#67cc14')" class="md-fab md-mini swiper-slide" style="background-color: #67cc14; height: 45px;width: 45px;border: 2px solid white;"></md-button>
                <md-button ng-click="CSDK.select_color('#20598c')"  class="md-fab md-mini swiper-slide" style="background-color: #20598c; height: 45px;width: 45px;border: 2px solid white;"></md-button>
                <md-button ng-click="CSDK.select_color('#cc7b35')"  class="md-fab md-mini swiper-slide" style="background-color: #cc7b35; height: 45px;width: 45px;border: 2px solid white;"></md-button>
            </div>
        </div>
        <md-input-container id="textInput">
            <input style="color: {{text.color}}!important;" ng-model="text.value">
        </md-input-container>
    </div>

    <!-- STICKERS OPTIONS --
    <div class="hidden stickers swiper-container">
        <md-button ng-class="{bordered: sticker.visible}" ng-aria="sticker-{{$index}}" class="md-fab" ng-click="CSDK.toggle($index)" ng-repeat="sticker in stickers" style="background-image: url({{sticker.path}}); position: relative;"></md-button>
    </div>-->

    <!--<div class="swiper-stickers-container swiper-container-horizontal">
        <div style="z-index: 10000;" class="swiper-wrapper">

            <div ng-cloak
                ng-repeat="list in lists" 
                style="padding-top: 100px; overflow: scroll; width: 100%;height: 100%; margin: 0px!important;" 
                class="swiper-slide">

                <md-content style="background-color: transparent;" layout-padding>

                    <md-grid-list
                        md-cols-gt-md="3" 
                        md-cols="3" 
                        md-cols-md="3"

                        md-row-height-gt-md="1:1" 
                        md-row-height="1:1"

                        md-gutter-gt-md="4px" 
                        md-gutter-md="4px" 
                        md-gutter="4px">

                        <md-grid-tile
                            ng-repeat="sticker in list.stickers"

                            md-colspan-gt-sm="1"
                            md-rowspan-gt-sm="1">

                            <md-button 
                                ng-click="CSDK.toggle(sticker.index)"
                                
                                ng-class="{bordered: sticker.visible}" 
                                ng-aria="sticker-{{$index}}" 
                                class="md-fab" 
                                ng-click="CSDK.toggle($index)" 
                                style="background-image: url({{sticker.path}}); background-position: center center; background-repeat: no-repeat; background-size: contain; position: relative;">
                            </md-button>

                        </md-grid-tile>

                    </md-grid-list>
                </md-content>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div> --> 

</div>