<md-content class="content" style="top: 0px!important;" layout-padding>
	<md-list flex style="width: 100%;">
		<md-list-item style="margin-bottom: 30px" ng-repeat="game in games">
			<div class="md-list-item-text" style="width: 100%;" layout="column">
				<h3 style="margin: 0px;">{{game.name}}</h3>
				<h4 style="margin: 10px 0px;">Dificultad media!</h4>
				<div ng-click="open($index)" style="background-size: cover; background-repeat: no-repeat; background-position: center center; border: 2px solid #d60036; height: 300px; background-image: url('{{game.links.image}}');"></div>
			</div>
		</md-list-item>
	</md-list>
</md-content>