<div class="content back-content">

	<div class='content-header'>
		<div class="col-xs-12">
			<!-- <img src="assets/images/LogoNauticappFullColor.png" class="logo-back " /> -->
		</div>
	</div>

	<div class="loginWrapper">

		<div class="loginFormContainer">
			
			<div class="loginFormPanel">
 				<form class="loginForm" ngEnter="login();">
 					<h4 style="color: white;">Aviso: esta cuenta no es la misma que la de Grisino Fan</h4>
				
					<md-input-container flex class="no-animate">
						  <label>E-mail</label>
						  <input type="email" ng-focus='focus()' class="login-input no-animate" ng-model="email" ng-required="true"/>
			        </md-input-container>

					<md-input-container flex class="no-animate">
						  <label>Contraseña</label>
						  <input type="password" class="login-input" ng-model="password" ng-required="true" />
			        </md-input-container>

			        <md-button style="margin-left: 10px; color:#f7b7cc!important;" hm-tap="forgotPassword()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'><u>Olvidé mi contraseña</u></md-button>

			        <!--<div class="alert alert-danger" role="alert" id="alertField">Invalid User</div>-->
				</form>
			</div>

			<div class="formBckgrnd"></div>
			
			<h3 style="color: white;">{{devInfo}}</h3>
			<center ng-show="devInfo" layout="row">
				<div style="width: 100%!important;">
					<md-button class="login md-raised md-primary loginBtn" style="width: 97.5%!important;">Ir a registro</md-button>
				</div>

				<div ng-show="devInfo" style="width: 100%!important;">
					<md-button hm-tap="joinFacebook();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary login loginBtn" style="width: 97.5%!important; background-color: #8b9dc3!important; margin-left: 5%!important">Login Facebook</md-button>
				</div>
			</center>			
			
			<center layout="row">
				<div style="width: 100%!important;">
					<md-button ui-sref="mainPanel" class="login md-raised md-primary loginBtn" style="width: 97.5%!important;">Volver</md-button>
				</div>

				<div style="width: 100%!important;">
					<md-button hm-tap="login();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary login loginBtn" style="width: 97.5%!important; margin-left: 5%!important">Ingresar</md-button>
				</div>
			</center>
		</div>
	</div>
</div>