<div class="back-content">

	<div class="back-content-header">
		<div class="col-xs-12">
			<!--<img src="assets/images/LogoGrisino.png" class="logo-back" />-->
		</div>
	</div>

	<div class="back-content-body">

		<!--<ul>
			<li>
				<md-button id="fbBtn" class="md-raised md-primary loginButtonFB" hm-tap="joinFacebook();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'>			
					<img class="loginIcon" src="assets/images/LogoFacebook.png">
					Ingresar con Facebook
				</md-button>
			</li>
			<li>
				<md-button id="emailBtn" hm-tap="goTo('login')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary">			
					<img class="loginIcon" src="assets/images/LogoMail.png">
					Ingresar con e-mail
				</md-button>
			</li>
			<li>
				<md-button id="emailBtn" hm-tap="goTo('login')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="background-color:gray!important;" class="md-raised md-primary">			
					<img class="loginIcon" src="assets/images/LogoMail.png">
					Ingresar como invitado
				</md-button>
			</li>
			<li>
				<md-button id="regBtn" hm-tap="goTo('join')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary">
					Registrate
				</md-button>
			</li>			
		</ul>-->

		<md-list style="bottom: 0px;width: 100%;position: absolute;">
			<md-list-item hm-tap="joinFacebook()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="auth-button fb">
				<md-icon md-svg-icon="assets/svg/facebook-logo.svg"></md-icon>
				<p>
					Ingresar con Facebook
				</p>
			</md-list-item>
			<md-list-item hm-tap="goTo('login')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="auth-button">
				<md-icon md-svg-icon="assets/svg/google-plus.svg"></md-icon>
				<p>
					Ingresar con e-mail
				</p>
			</md-list-item>
			<md-list-item hm-tap="goTo('join')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="auth-button">
				<p>
					Registrate
				</p>
			</md-list-item>
			<md-list-item hm-tap="loginGuest()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="auth-button guest">
				<p>
					Ingresar como invitado
				</p>
			</md-list-item>
		</md-list>
<!--
		<md-button id="fbBtn" class="md-raised md-primary loginButton loginButtonFB" hm-tap="joinFacebook();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'>			
			<img class="loginIcon" src="assets/images/LogoFacebook.png">
			Ingresar con Facebook
		</md-button>

		<md-button id="emailBtn" hm-tap="goTo('login')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary loginButton">			
			<img class="loginIcon" src="assets/images/LogoMail.png">
			Ingresar con e-mail
		</md-button>

		<hr>

		<md-button id="emailBtn" hm-tap="goTo('login')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="background-color:gray!important;" class="md-raised md-primary loginButton">			
			<img class="loginIcon" src="assets/images/LogoMail.png">
			Ingresar como invitado
		</md-button>

		<hr>

		<md-button id="regBtn" hm-tap="goTo('join')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'class="md-raised md-primary loginButton">
			Registrate
		</md-button>

		<md-button hm-tap="goTo('eula')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary loginButton">
			Volver
		</md-button>-->
	</div>
		
</div>