<!--<div class="content">
    <div class="profile-content">--
    <md-content flex layout-padding>
        <md-list flex>
            <md-subheader ng-cloak ng-hide="notificaciones.length == 0" class="md-no-sticky">Últimas 20 notificaciones</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="notificacion in notificaciones" ng-click="detail(notificacion.id, 'promo')">
                <img ng-src="{{notificacion.img}}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #d60036;text-align: left;text-overflow: ellipsis;width: 90%;"><strong>{{ notificacion.title }}</strong></h3>
                    <h4>{{ notificacion.text }}</h4>
                </div>
            </md-list-item>
        </md-list>

        <h1 ng-show="notificaciones.length == 0" style="text-align: center; color: #d60036;">¡No hay notificaciones por el momento!</h1>
    </md-content>
    <!--</div>
</div>-->

<div ng-init="button=true" class="content">
    <div style="height:initial!important;" class="profile-content">
        </div>
        <md-content layout-padding class="profileContentWrapper">
            <md-list flex>
                <md-subheader ng-cloak ng-hide="notificaciones.length == 0" class="md-no-sticky">Últimas 20 notificaciones</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="notificacion in notificaciones" ng-click="detail(notificacion.id, notificacion.type)">
                    <img ng-src="{{notificacion.img}}" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h3 style="color: #d60036;text-align: left;text-overflow: ellipsis;width: 90%;"><strong>{{ notificacion.title }}</strong></h3>
                        <h4>{{ notificacion.text }}</h4>
                    </div>
                </md-list-item>
            </md-list>

            <h1 ng-show="notificaciones.length == 0" style="padding: 20px;text-align: center; color: #000;">¡No hay notificaciones por el momento!</h1>

        </md-content>
    </div>
</div>
