<div class="profile content">
    <div class="profileImage" style="background-image:url({{profileBackImage}})">
        <div class="profile-pic" ng-hide="isFacebook" ui-sref="main.profile" style="background-image:url({{profileImage}});">
        </div>
    </div>
    <md-content layout-padding class="profileContentWrapper">
        <input type="file" style="display:none" accept="image/*" capture="camera">
        <div class="profileInputsWrapper">
            <form name="projectForm" class="profileForm">
                <h1 class="profileTitle">Información:</h1>
                <md-divider style="margin-bottom: 15px!important;"></md-divider>
                <div class="profileInput" layout="row">
                    <div class="md-raised nav-icon IconoPerfilNombre" flex="15"></div>
                    <md-input-container flex="85">
                        <label>Nombre</label>
                        <input required name="name" ng-model="profile.name">
                        <div ng-messages="projectForm.name.$error" role="alert">
                            <div ng-message="required">El nombre no debe estar vacío.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="profileInput" layout="row">
                    <div flex="15" class="md-raised nav-icon IconoMensajesPerfil"></div>
                    <md-input-container flex="85">
                        <label>Email</label>
                        <input  type="email" name="email" ng-model="profile.email" ng-pattern="/^.+@.+\..+$/" />
                        
                    </md-input-container>
                </div>
                <div class="profileInput" layout="row">
                    <div class="md-raised nav-icon IconoDNIPerfil" flex="15"></div>
                    <md-input-container flex="85">
                        <label>DNI</label>
                        <input id="dniinput" ng-focus="changeDNI()" required name="DNI" ng-model="profile.dni" ng-minlength="8" />
                    </md-input-container>
                </div>
                <div class="profileInput" layout="row">
                    <div flex="15" class="md-raised IconoGenero"></div>
                    <md-input-container flex="85">
                        <label style="font-size: 16px!important;">Género</label>
                        <md-select placeholder="Seleccione su género" style="padding-bottom: 0!important;" class="formSelect" name="gender" ng-model="profile.gender" required>
                            <md-option value="hombre">Hombre</md-option>
                            <md-option value="mujer">Mujer</md-option>
                        </md-select>
                        <div ng-messages="projectForm.gender.$error" role="alert">
                            <div ng-message-exp="required">
                                Se debe de elegir un género.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="profileInput" layout="row">
                    <div flex="15" class="md-raised nav-icon IconoFechaPerfil"></div>
                    <div flex="85" class="profileBirthdateInputs" layout="row">
                        <md-input-container flex>
                            <label style="position: absolute;font-size: 16px!important;width: 300%;top: -25;">Fecha de nacimiento</label>
                            <md-select placeholder="Día" class="formSelect" ng-model="day">
                                <md-option ng-repeat="day in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']" value="{{day}}">{{day}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <md-select placeholder="Mes" class="formSelect" ng-model="month">
                                <md-option ng-repeat="month in ['01','02','03','04','05','06','07','08','09','10','11','12']" value="{{month}}">{{month}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <md-select placeholder="Año" class="formSelect" ng-model="year">
                                <md-option ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </form>
            <h1 class="profileTitle">Tarjetas:</h1>
            <md-divider></md-divider>
            <div class="shipAnimate" layout="column" ng-repeat="bank in banks">
                <div ng-repeat="card in bank.tarjetas" layout="row">
                    <!--<div class="cardItems">-->
                        <div class="btnCards btnBorrar" hm-tap="deleteCard(bank, card)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'></div>
                        <div class="btnCards btnEditar" hm-tap="editCard(bank, card)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'></div>
                        <div class="datosItem">{{bank.nombre}} / <span>{{card.nombre}}</span></div>
                        <div class="clearfix"></div>
                    <!--</div>-->
                </div>
            </div>
            <md-button class="addItemBtn" hm-tap="addCard($event)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="width: 100%; box-shadow:none; padding: 0px;border-radius: 0px; border: 1px solid rgba(256,256,256,0.4); border-width: .5px 0px .5px 0px;" layout="row">
                <div layout="row">
                    <div flex="15">
                        <span class="add">+</span>
                    </div>
                    <div flex="85">
                        <span>Agregar</span>
                    </div>
                </div>
            </md-button>
            <h1 class="profileTitle">Configuración:</h1>
            <md-divider style="margin-bottom: 15px!important;"></md-divider>
            <!--<div layout="column">
                <label style="margin: 10px 0 0 5%; padding: 0; font-size: 15px!important; color: black!important;">Notificaciones:</label>
                <md-radio-group ng-model="data">
                    <md-radio-button value="1" class="md-primary">Activadas</md-radio-button>
                    <md-radio-button value="0" class="md-primary">Desactivadas</md-radio-button>
                </md-radio-group>
            </div>-->
            <div layout="column">
                <label style="margin: 10px 0 0 5%; padding: 0; font-size: 15px!important; color: black!important;">Notificaciones:</label>
                <md-radio-group style="width: 90%; margin: 10 0 0 5%;" ng-model="data">
                    <md-radio-button value="1" class="md-primary">Activadas</md-radio-button>
                    <md-radio-button value="0" class="md-primary">Desactivadas</md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <label style="margin: 10px 0 0 5%; padding: 0; font-size: 15px!important; color: black!important;">Avisos:</label>
                <div style="margin: 0px 20px!important;" layout="row">
                    <md-checkbox flex style="color: black; margin: 10 0 20 0!important;" ng-model="profile.wantsNews" aria-label="checkbox">Me interesa recibir información y descuentos.</md-checkbox>
                </div>
            </div>

            <md-button ng-hide="isFacebook" class="md-raised md-primary animated flipInY profileButton" hm-tap="resetPass()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="-webkit-animation-delay: 0.8s">Cambiar contraseña</md-button>
            <md-button id="saveChanges" class="md-raised md-primary profileButton" hm-tap="updateUser()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="-webkit-animation-delay: 1.2s">Guardar cambios</md-button>
            <div hm-tap="goEULA()" style="color: black; width: 90%; margin: 10px 5%!important; text-align: center;" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'><u>Términos y condiciones</u></div>
        </div>

        <h1 style="text-align: center;" ng-show="devInfo">{{devInfo}}</h1>
    </md-content>    
</div>
