<div class="content">
   <div class="promos-content shopsDetailContent">
      <div id="detailedWrapper" class="imageWrapper square"></div>
      <div style="position: relative;">
         <div class="scrollableMap">
            <div id="map" class="detailedMap"></div>
         </div>
         <div class="detailedInfoWrapper">
            <div id="detailedInfo" class="square2 newsElementBottomWrapper detailedInfo">
               <p class="shopsImageTitle"><b><u>{{shop.name}}</u></b></p>
               <p class="shopsImageTitle shopsImageSubTitle">{{shop.address}}
               <p id="shopInfo" style="font-size: 1.1em!important;"></p>
            </div>
         </div>
      </div>
   </div>
</div>