<div class="content">
    <div class="allTabs" ng-show="shouldShowTable"></div>
    <div class="categoryButtonTable">
        <div id="buttonTable" class="categoryRows" ng-show="shouldShowTable">
            <div layout="row" class="categoryButtonTableRow" id="buttonTableRow{{$index}}" ng-repeat="subCategory in filteredCategories">
                <md-button id="categoryButton{{$index}}" class="md-raised md-primary md-whiteframe-z2 categoryButton" hm-tap="navCategory($index)" hm-recognizer-options='{"threshold":20,"time":2000,"preventGhosts":true}' aria-label="cb">{{subCategory.name}}</md-button>
                <md-button class="md-fab categoryCheckButton" id="checkButton{{$index}}" hm-tap="navCategory($index)" hm-recognizer-options='{"threshold":20,"time":2000,"preventGhosts":true}' aria-label="ccb"></md-button>
            </div>
        </div>
    </div>
    <div class="tickets-content">
        <div class="noshow" id="shopSelectWrapper">
            <div class="controlSelect">
                <md-select id="provincias" class="shopsComboBox" placeholder="Elija una provincia" ng-value="provincia" ng-model="someVal1">
                    <md-option ng-repeat="provincia in provincias">{{provincia.name}}</md-option>
                </md-select>
            </div>
            <div class="controlSelect">
                <md-select id="localidades" class="shopsComboBox" placeholder="Elija una localidad" ng-model="someVal2">
                    <md-option ng-repeat="localidad in localidades" ng-value="localidad">{{localidad.name}}</md-option>
                </md-select>
            </div>
            <div class="controlSelect">
                <md-select class="shopsComboBox" placeholder="Elija un local" id="locales" ng-model="someVal3">
                    <md-option ng-repeat="shop in shops" ng-value="shop">{{shop.name}}</md-option>
                </md-select>
            </div>
        </div>
        <div id="detailedInfo" class="noshow square2 animated fadeInRight no-padding-bottom" style="padding-top: 25px; -webkit-animation-delay: 0.2s;width: 90%!important;left: 5%;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;border: 1px solid rgb(164, 164, 164);">
            <md-button id="showInfo" ng-click="showInfo()" style="height: 0px!important; width: 100%; border-radius: 0;background-color: black; color: white;top: 0;position: absolute;left: 0;">{{hbutton}}</md-button>
            <div style="top: 0!important; height: 100%;" class="scrollableMap">
                <div id="map"></div>
            </div>
        </div>

        <!--<div class="content shops">
            <ul class="elements"></ul>
        </div>-->

        <div class="content" id="listWrapper" style="left: 0px;">
            <div id="scroller" style="transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); transform: translate(0px, -40px) translateZ(0px);">
                <div class="pullDown">
                    <span class="pullDownIcon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="#FFFFFF"/></g></svg></span>
                </div>
                <ul>
                </ul>
                <div class="pullUp"></div>
            </div>
            <div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="position: absolute; z-index: 9999; width: 7px; bottom: 2px; top: 2px; right: 1px; overflow: hidden; pointer-events: none; transform: translateZ(0px); transition: 0ms; -webkit-transition: 0ms; opacity: 0;">
                <div class="iScrollIndicator" style="box-sizing: border-box; position: absolute; background-color: rgba(0, 0, 0, 0.498039); border: 1px solid rgba(255, 255, 255, 0.901961); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; width: 100%; transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); display: block; height: 8px; transform: translate(0px, 1px) translateZ(0px); background-position: initial initial; background-repeat: initial initial;"></div>
            </div>
        </div>
    </div>
</div>
