/********** GENERAL CSS ************/

body {
    padding: 0;
    border: 0;
    width: 100%!important;
    position: fixed!important;
    background-color: #d60036;
}

.backgrounded {
    background-image: url("images/splash-screen_720x1280px.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

a {
    color: #1A5191!important;
    text-decoration: none;
}

#fbBtn,
#emailBtn,
#regBtn {
    opacity: 0;
}



/*
html::-webkit-scrollbar {
    width: 5px;
}
 
html::-webkit-scrollbar-track {
    
    border-radius: 5px;
    background-color:rgba(222,222,222,0.7);
}
 
html::-webkit-scrollbar-thumb {
    border-radius: 10px;   
    background:rgba(63,81,181,0.5); 
}

*/


/*
#mainView {
    -webkit-transition: -webkit-filter 0.15s ease-in-out;
}*/

.view {
    width: 100%;
    background-color: white;
}

.main {
    height: 100%;
    margin-top: 20px!important;
    min-height: 0px!important;
}

html {
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}

#include {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hand {
    cursor: pointer;
}

h1 {
    font-size: 20px;
}



/*********** HEADER *************/


/*
.master-header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}
*/

*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

.ng-scope {
    text-transform: none!important;
}

md-toolbar {
    box-shadow: none;
}

.md-toolbar-tools {
    background-color: #d60036;
}

.blur-image {
    -webkit-filter: blur(2px);
    position: relative;
}

.header {
    font-family: "HelveticaNeue-Medium";
    text-transform: capitalize;
    margin: 0;
    font-weight: 400;
    text-align: center;
    height: 70px;
    min-height: 0px!important;
    line-height: 50px;
    background-color: #d60036!important;
    color: black;
    position: relative;
    z-index: 4;
}

.logo {
    width: 124px;
    /*position: absolute;*/
    margin-left: calc(50% - 62px);
    right: auto;
    /*margin-right: auto;*/
    margin-bottom: 0;
    margin-top: 18px;
}

.footerLogo {
    position: relative;
    width: 150px;
    left: calc(50% - 75px);
    right: auto;
    bottom: 0;
    margin: 35 0;
}

.menu {
    position: absolute;
    left: 16px;
    top: 10;
}

.toggleBtn {
    background-image: url(images/menu-icon-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px;
    margin-top: 7px;
    width: 32px;
    height: 32px;
    text-indent: -1000px;
}

.toogleBtnArrow {
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    font-size: 25px;
}

.dropdown {
    position: absolute;
    right: 6px;
    top: 14;
    color: white!important;
}

.dropdown-menu {
    right: 0!important;
    left: auto!important;
}

.more button {
    background-image: url(images/options.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
    width: 22px;
    height: 22px;
    text-indent: -1000px;
}



/************ SIDE NAV *************/

.md-sidenav-left,
md-sidenav {
    position: absolute;
    z-index: 9999;
    margin-top: 20px;
    width: 80%!important;
    min-width: 80%!important;
}

.sidenav-header {
    min-height: 200px!important;
    height: 200px;
    z-index: 0;
}

.sidenav-back-image {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: '"HelveticaNeue-Thin"'!important;
    font-size: 36px!important;
}

md-backdrop.md-opaque.md-default-theme {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-icon {
    -webkit-mask-position: center center!important;
    -webkit-mask-size: 60%!important;
    background-color: #d11439;
}

.app-nav {
    padding-left: 0;
    margin-bottom: 0;
}

.app-nav li {
    position: relative;
    list-style: none;
    height: 35px;
    border-bottom: thin solid rgba(212, 212, 212, 1);
    padding-left: 40px;
    cursor: pointer;
}

.app-nav li:hover {
    background: rgba(63, 81, 181, 0.8);
}

.app-nav li:hover a {
    color: white;
}

.app-nav li:hover span {
    color: white;
}

.app-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    height: 35px;
    line-height: 35px;
}

.profile-pic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110%;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-indent: -1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid;
    border-color: #d60036;
    /*background-position-x: -39px;*/
    position: absolute;
    bottom: calc(50% - (57.5px));
    left: calc(50% - 57.7px);
    z-index: 101;
}



/*********** LOGIN ************/

.content form {
    width: 100%;
}

.content {
    background-color: #fff!important;
}

.logo-login {
    width: 200px!important
}

.login-content {
    background-color: #3b579d;
}

md-input-container .md-default-theme .md-input {
    /*****Input*****/
    border-color: black!important;
    color: white!important;
    width: 100%;
}

md-input-container .md-default-theme label {
    /*****Label*****/
    color: white!important;
    font-size: 15px;
    font-weight: lighter;
}

.md-input {
    border-color: #1a5191!important;
    width: 100%;
}

label {
    color: white!important;
    font-size: 20px!important;
    font-weight: 200!important;
    letter-spacing: 1px!important;
    margin-bottom: 0px!important;
    margin-right: 6px!important;
}

.login-input {
    border-color: white!important;
    border-size: 0.1px!important;
    color: white!important;
    width: 90%;
    /*margin-left: 5%;*/
}

.loginBtn {
    width: 100%!important;
    border-radius: 4px!important;
    background-color: #d60036!important;
    margin-top: 15px;
    padding: 11px 24px 11px 24px;
    margin: 0!important;
    margin-top: 10px!important;
    text-transform: none!important;
    font-family: "HelveticaNeue-Thin"!important;
    font-size: 18px;
    font-weight: 300;
    color: white!important;
}

.loginBtn.login {
    background-color: #8cb036!important;
}

.joinBtn {
    position: relative!important;
    width: 47.5%!important;
}

.alertJoin {
    padding: 5px!important;
    margin: 6%!important;
    width: 88%!important;
}

.content-header {
    opacity: 0%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 30%;
    width: 100%;
    text-align: center;
}



/********************** APP CONTENT *************************/

.app-content h2 {
    margin: 0;
    margin-top: 80px;
    font-size: 20px;
    padding-left: 15px;
}



/********************** DASHBOARD ***************************/

.dashboard {
    padding-left: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    /*position: fixed;*/
    height: calc(100% - 70px);
    top: 70px;
    width: 100%;
    overflow-y: scroll;
    background-color: #e0e0e0 !important;
    /*-webkit-transition: -webkit-filter 1s ease-in-out;*/
}

.post-item {
    list-style: none;
}

.post-item img {
    display: block;
    width: 100%;
}

.post-item article h3 {
    margin-bottom: 1px;
}

.ranking span {
    margin-right: 10px;
    padding-left: 5px;
}

.ranking .glyphicon::before {
    color: blue;
    position: relative;
    left: -5px;
    top: 2px;
}

.time-ago {
    font-size: 14px;
    color: rgba(132, 132, 132, 1);
}

.image-comments {
    cursor: pointer;
}



/*********************** ANIMATIONS *************************/


/*
.at-view-fade-out.ng-leave {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.at-view-fade-out.ng-leave-active {
    opacity: 0;
}

.at-view-scale-in.ng-enter {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
}
.at-view-scale-in.ng-enter-active {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}*/


/********** PROMOS ************/

.square {
    position: relative;
    padding: 0px;
    color: white;
    height: 200px;
    font-size: 18px;
    margin: 0;
    width: 100%;
    top: 0px;
    /*max-width: 100%;*/
}

.square2 {
    position: relative;
    padding-top: 5px;
    background-color: white;
    /*width: 100%;*/
    color: black;
    font-family: "HelveticaNeue-Medium"!important;
    top: 0px;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    padding-bottom: 15px;
}

.square2 p {
    text-align: left;
}

.square2 .text {
    text-align: center;
}

.square2 button {
    width: 52%;
}

.square img {}

.square .hour {
    position: absolute;
    right: 24;
    bottom: 0;
    z-index: 999;
    font-size: 15px;
}

.square .description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20%;
    width: 55%;
    font-weight: bold;
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
}

.square2 p:nth-of-type(1) {
    padding: 5px 0px!important;
    font-family: "HelveticaNeue-Medium"!important;
    font-size: 1.5em!important;
    /*box-shadow: 0 1.5px 0px 0px #a3a3a5;*/
}

.square2 p:nth-of-type(2) {
    /*padding-top:20px;*/
    text-align: left;
}

.promos-content {
    position: fixed;
    top: 90;
    left: 0;
    margin-bottom: 0px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: scroll;
    text-align: center;
}

.pubs-content,
.home-content {
    position: fixed;
    top: 90;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    text-align: center;
    background-color: #e0e0e0;
}

.loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1000;
    transition-duration: 5s!important;
}

.promo-icon {
    width: 44%;
    height: 22%;
    float: left;
    margin: 3%;
    font-size: 17px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.promo-ban {
    height: 35%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 375px;
}

.promo-icon .name {
    width: 100%;
    height: 43px;
    color: white;
    background: rgba(0, 0, 0, .5);
    text-align: left;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

#qr-code,
#codebar {
    margin: 0 auto;
    width: 200px;
}



/****************** WELCOME *******************/

.welcome-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ecedf1;
}

.welcome-content form {
    width: 100%;
    padding: 15px;
}

.welcome-content form button {
    width: 93%;
}

.welcome-content form #join {
    position: absolute;
    bottom: 94px;
    height: 40px;
}

.welcome-content form #login {
    position: absolute;
    bottom: 33px;
    height: 40px;
}



/*********************** JOIN **********************/

.joinInputPanel md-input-container.md-default-theme .md-input {
    border-color: white;
    color: white;
    width: 90%;
}

.joinInputPanel md-input-container.md-default-theme .md-select-label {
    border-color: white;
    color: white!important;
}

.joinInputPanel md-input-container {
    /*padding: 0px 10px!important;*/
    height: 54px!important;
}

.joinInputPanel md-input-container.md-default-theme label {
    color: white;
}

.joinInputPanel {
    width: 84% !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 8% !important;
    padding-bottom: 20px 30px;
    height: 100%!important;
    overflow-y: scroll!important;
    background: rgba(40, 40, 40, 0.7);
}

.joinInputPanelWrapper {
    height: 80%;
    margin: 0;
}

.joinInputPanelWrapperWrapper {
    height: 100%;
    overflow-y: hidden!important;
    padding: 20px 0px;
}

.joinButtonPanel {
    width: 80%!important;
    /*height:100%;*/
    padding: 0px 10%;
    position: absolute;
    margin: 0!important;
    bottom: 5;
}

.joinButtonsWrapper {
    vertical-align: middle
}

.content .text {
    color: #FAFAFA;
    text-align: center;
    line-height: 2;
}

.join2Image {
    width: 100%;
    text-align: center;
}

.join2Image img {
    width: 120px;
}

.join2Image button {
    width: 100%;
    margin-top: 20px;
}



/*********************** NEWS ***********************/

.text-transparent {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
}

.text-transparent .text {
    width: 100%;
    padding: 4px;
    height: auto;
    color: white;
    text-align: left !important;
}

.text-transparent .text h3 {
    font-size: 19px;
}

.dark-content {
    background-color: #333;
    color: white;
}

.readMore {
    color: rgb(255, 159, 0);
    font-size: 10px;
}

.news-content {
    position: relative;
    left: 0;
    top: 40;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    text-align: center;
}



/********************** PROFILE **********************/

.profile-content {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    top: 90px!important;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
}

#sidenavListW::-webkit-scrollbar {
    display: none;
}

.profile.content::-webkit-scrollbar {
    display: none;
}

.profile.content {
    -webkit-overflow-scrolling: touch;
}

.profile-content h3 {
    text-align: center;
}

.profile-content md-select {
    margin-top: 0px;
}

.profile-content md-input-container>md-icon+input {
    margin-left: 0px;
}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}

.inputdemoIcons md-input-container:not(.md-input-invalid)>md-icon.email {
    color: green;
}

.inputdemoIcons md-input-container:not(.md-input-invalid)>md-icon.name {
    color: blue;
}

.inputdemoIcons md-input-container.md-input-invalid>md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid>md-icon.name {
    color: red;
}

.flexCustom {
    position: relative;
    margin-bottom: 20px!important;
    padding: 0px 33px;
    font-size: 14px;
    font-style: "HelveticaNeue-Medium";
    text-align: left;
    color: black!important;
}

.profileButton {
    background-color: #d60036!important;
    height: 50px;
    width: 90%;
    margin: 10px 5%!important;
    text-transform: none!important;
    font-style: "HelveticaNeue-Thin"!important;
    color: #fff!important;
}

.changeImage {
    background-image: url(images/IconoFotoInstagram.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 270px;
    z-index: 1000;
    font-size: 21px;
    bottom: 7px;
    color: white;
}

.profileProgress {
    margin-top: 6px;
    text-align: center;
}

md-progress-linear.md-default-theme.md-accent .md-bar {
    background-color: green;
    border-radius: 15px;
}

md-progress-linear.md-default-theme[md-mode=buffer].md-accent .md-bar1 {
    /*background-color: rgb(213, 228, 215);*/
}

.editProfile {
    position: absolute;
    top: 175px;
    left: 244px;
    font-size: 16px;
    color: white;
}

.profileImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d11339;
    height: 40%;
    width: 100%;
    margin: auto, auto;
    left: 0;
    position: relative;
}

.profileIcon {
    top: 25;
    left: 0;
    margin: 10 10 10 0;
    bottom: 26px;
    position: relative!important;
}

.sidenavIcon {
    position: absolute!important;
}

.profileImage span {
    background-image: url(images/options.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
    width: 22px;
    height: 22px;
    position: absolute;
    font-size: 24px;
    right: 13px;
    bottom: 9;
}

.loading-back {
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20!important;

    transition: opacity 500ms ease-in;
    -webkit-transition: opacity: 500ms ease-in;
    display: block;
}

.loading-back.ng-hide-remove {
    opacity: .6;
}

.loading-back.ng-hide-add {
    opacity: 0;
}

.profileContentWrapper {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    padding: 0;
}



/*********************** ICONOS **********************/

.IconoHome {
    /*background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(svg/ic_home_black_48px.svg);*/
    -webkit-mask: url(svg/ic_home_black_48px.svg) no-repeat 100% 100%;
}

.IconoGenero {
    /*background: url(images/icono-genero.png);
    background-size: 60%;
    margin-top: 14px;
    background-repeat: no-repeat!important;
    background-position: center center!important;*/
    -webkit-mask: url(svg/ic_people_black_48px.svg) no-repeat 100% 100%;
}

.IconoNotifications {
    /*background: url(images/icono_notificaciones.png);
    background-size: 50%;
    background-repeat: no-repeat!important;
    background-position: center center!important;*/
    -webkit-mask: url(svg/ic_notifications_black_48px.svg) no-repeat 100% 100%;
}

.IconoReloj {
    background: url(images/IconoReloj.png);
    background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.IconoPromos {
    background: url(images/icono_promociones.png);
    background-size: 45%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.IconoNews {
    -webkit-mask: url(svg/ic_library_books_black_48px.svg) no-repeat 100% 100%;
}

.IconoNombre {
    -webkit-mask: url(svg/ic_account_circle_black_48px.svg) no-repeat 100% 100%;
}

.IconoPerfilNombre {
    -webkit-mask: url(svg/ic_account_circle_black_48px.svg) no-repeat 100% 100%;
}

.IconoPerfilWsap {
    width: 32px;
    height: 32px;
    background: url(images/wsap.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.IconoTicketsPerfil {
    margin-left: 4;
    margin-top: 4;
    width: 22px;
    height: 23px;
    background: url(images/IconoTickets.png);
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.IconoCarta {
    background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/icono_eshop.png);
}

.IconoMensajes {
    /*background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/icono_contacto.png);*/
    -webkit-mask: url(svg/ic_mail_black_48px.svg) no-repeat 100% 100%;
}

.IconoFechaPerfil {
    background: url(images/icono-fecha.png);
    background-size: 50%;
    margin-top: 14px;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.IconoMensajesPerfil {
    background: url(images/icono_contacto.png);
    background-size: 50%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.IconoDNIPerfil {
    /*background: url(images/IconoNovedades.png);
    background-size: 50%;
    background-repeat: no-repeat!important;
    background-position: center center!important;*/
    -webkit-mask: url(svg/ic_perm_identity_black_48px.svg) no-repeat 100% 100%;
}

.IconoPerfilWsap {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat!important;
    background: url(images/wsap.png);
    background-size: cover!important;
}

.IconoPerfilTelefono {
    background-size: 50%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/phone.png);
}

.IconoMisiones {
    background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/icono_feedback.png);
}

.IconoJuegos {
    -webkit-mask: url(svg/technology.svg) no-repeat 100% 100%;
    -webkit-mask-size: 50% !important;
}

.IconoFAQ {
    /*background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/icono-preguntas-frecuentes.png);*/
    -webkit-mask: url(svg/ic_help_outline_black_48px.svg) no-repeat 100% 100%;
}

.IconoCamera {
    -webkit-mask: url(images/photo-camera.svg) no-repeat 100% 100%;
    -webkit-mask-size: 50% !important;
}

.IconoShops {
    background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/icono_locales.png);
}

.IconoRankings {
    background-size: 60%;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/IconoPerfilMedalla.png);
}

.IconoLogout {
    background-size: 50%!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background: url(images/IconoPerfilCerrar.png);
}



/*********************** ICONOS **********************/


/*********************** BACK **********************/

.back-content {
    width: 100%;
    height: 100%;
    background-image: url("images/splash-screen_720x1280px.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.back-content-header {
    opacity: 0%;
    margin: 0px;
    /*padding: 5px;*/
    overflow: hidden;
    height: 40%;
    width: 100%;
    text-align: center;
}

.logo-back {
    width: 230px;
    margin-top: 30px;
}



/*********************** MAIN PANEL **********************/

.back-content-body {
    opacity: 0%;
    height: 60%;
    width: 100%;
    padding: 0px;
}

.back-content-body button:nth-of-type(1) {
    bottom: 12em;
}

.back-content-body button:nth-of-type(2) {
    bottom: 8em;
    background-color: #8cb036!important;
}

.back-content-body button:nth-of-type(3) {
    bottom: 4em;
    background-color: #8cb036!important;
}

.loginButton {
    -webkit-animation-delay: 0.5s;
    color: white!important;
    position: absolute;
    width: 80%;
    left: 10%;
    border-radius: 2px!important;
    padding: 8px 15px!important;
    background-color: #d11439!important;
    font-family: "HelveticaNeue-Thin";
    font-size: 1.00em!important;
    text-transform: none;
}

.loginButtonFB {
    background-color: #3b579d!important;
}

.loginIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5;
    top: calc(50% - 20px);
}



/************************ TICKETS ***************************/

.tickets-content {
    position: fixed;
    top: 90;
    left: 0;
    width: 100%;
    /*padding-top: 50px;*/
    height: calc(100% - 90px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.tickets-content h3 {
    text-align: center;
}

.tickets-content2 {
    position: relative;
    width: 100%;
    padding: 50px 5px 5px 5px;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tickets-content2 img {
    width: 100%;
    max-width: 400px;
}

.tickets-content .img {
    width: 50%;
    padding: 5px 5px 5px 5px;
    float: left;
    margin: 0 auto;
}

.ticketButton {
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
}

.button-content {
    margin: 50px 50px 0 50px;
}

.tickets-content .camera {
    font-size: 20px;
    position: relative;
    top: 3px;
    margin: 6px;
}



/************************* SHOPS *************************/

.shops-content {
    position: absolute;
    background-color: #DADBDD;
    ;
    width: 100%;
    padding: 0px;
    height: calc(100%);
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.shops-content .controlSelect md-select {
    /*min-width: 150px;*/
    /*margin-left: 29%;*/
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shops-content select {
    margin: 0 auto;
}

#marker-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    bottom: 0;
    overflow-x: auto;
    background: #fff;
    margin: 0;
    padding: 5px;
}

#marker-list li {
    padding: 5px;
    margin: 0;
    list-style-type: none;
}

#marker-list li:hover {
    background: #eee;
}

.shops-content .panel {
    width: 100%;
}

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px!important;
    height: 48px;
    max-width: 48px!important;
    ;
    margin: 16px;
    overflow: hidden;
}



/*************************HOME*************************/

md-tabs.md-default-theme md-tabs-ink-bar {
    height: 3px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-color: #32add5!important;
}

.menuTabs {
    padding-top: 10px!important;
    text-transform: none!important;
    height: 100%!imp;
    max-width: 100%!important;
    font-style: "HelveticaNeue-Medium"!important;
    font-weight: 500!important;
    color: white!important;
}

md-tabs.md-default-theme .md-paginator md-icon {
    color: white!important;
}

md-icon {
    color: #fff!important;
}

md-tabs-wrapper {
    background-color: #d60036!important;
    color: white!important;
}

md-tabs .md-tab {
    color: white!important;
}

.allTabs {
    padding: 0px;
    opacity: 0;
    background-color: white;
    position: fixed!important;
    width: 100%;
    height: 100%;
    z-index: 5!important;
}

.allTabsIcon {
    background-image: url("../assets/images/ic_filter_list_white_24dp.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    background-color: #2196f3!important;
    opacity: 0;
    -webkit-transition: all 0.2s ease!important;
    width: 36px!important;
    height: 36px!important;
    right: 10px;
    top: 100px;
    z-index: 5!important;
    position: absolute;
}

.allTabRotRight {
    -webkit-transform: rotate(180deg)!important;
}

.allTabRotLeft {
    -webkit-transform: rotate((-180)deg)!important;
}

.magnifier button {
    background-image: url("../assets/images/LogoLupa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px;
    padding: 10px;
    position: absolute;
    right: 33px;
    top: 14px;
    width: 19px;
    height: 19px;
}

.categoryButtonTable {
    position: absolute!important;
    top: 135px;
    left: 0;
    width: 100%;
    height: calc(100% - 135px);
    z-index: 6;
    display: none;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden!important;
    padding: 5px 0px;
    margin: 0px;
}

.categoryButtonTableRow {
    opacity: 0;
    margin-bottom: 10px;
}

.categoryButton {
    position: relative;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px!important;
    border-color: #aaaaaa!important;
    width: 150px;
    background-color: white!important;
    color: #5d5d5d!important;
    font-family: "HelveticaNeue-Medium";
    font-size: 1em;
    text-transform: none!important;
}

.categoryCheckButton {
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #2196f3;
    margin: 9px 0px!important;
}

.categoryCheckSelected {
    background-color: #d60036;
    width: 20px;
    height: 20px;
}

.iconWrapper {
    position: absolute;
    top: calc(50% - 24.5px);
    left: 0;
    padding: 0px;
    width: 50px;
    height: 49px;
    background-color: white;
    z-index: 3;
}

.noscroll {
    overflow-y: hidden!important;
}

.icon {
    position: absolute;
    cursor: pointer;
    float: left;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    z-index: 2;
}

.icon .bar {
    margin: 4px;
    height: 3.5px;
    width: 22px;
    background: white;
    -webkit-transition: all 0.35s ease-out;
}

.back .linea1 {
    width: 13px;
    -webkit-transform: rotateZ(-40deg) translate(-5px, 1px);
}

.back .linea2 {
    width: 20px;
    -webkit-transform: translateX(1px);
}

.back .linea3 {
    width: 13px;
    -webkit-transform: rotateZ(40deg) translate(-5px, -1px);
}

.back {
    /*height: 3px;*/
}

.listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.listdemoListControls {
    padding: 10 0!important;
}

.sidenavButton {
    position: relative;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px!important;
    margin-left: 0px;
    margin-right: 0px;
}

.sidenavLabel {
    text-transform: none;
    text-align: left;
    position: relative;
    left: 0;
    font-style: "HelveticaNeue-Thin"!important;
    font-size: 0.9em!important;
    color: #626262;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.headerDivider {
    position: absolute;
    bottom: -6px;
    z-index: 5;
    background-color: #bc0f32;
}

.userNameLabel {
    position: absolute;
    bottom: 5;
    color: white!important;
    font-size: 0.75em!important;
    width: 100%;
    left: 0;
    text-align: center;
}

.profileComboBox {
    padding: 5px 35px;
    color: black!important;
}

.profileLabel {
    font-style: "HelveticaNeue-Thin"!important;
    color: black!important;
    font-size: 1.2em!important;
}

.editProfileIcon {
    position: absolute;
    left: 273px;
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/LogoEditProfile.png);
    width: 22px;
    height: 22px;
    top: 7px;
}

.md-button {
    min-height: 0px!important;
    margin: 0px;
}

.md-header {
    background-color: #d60036!important;
    overflow-x: hidden;
    margin-bottom: 0;
    height: 40px;
    width: 100%;
}

md-list-item .md-clickable {
    padding: 0px!important;
}

.md-header-items {
    width: 100%;
}

.md-tabs-content {
    height: calc(100% - 40px);
}

.newsPiece {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 8px 10px 8px;
    transition: all .1s ease-in-out;
}



/*.newsPiece:active {
    transform: scale(0.96);
}*/

.newsElementTitle {
    font-size: 1.1em;
    font-weight: 800;
    text-overflow: ellipsis;
}

.newsElementDescription {
    font-family: "HelveticaNeue-Thin"!important;
    font-size: 1em;
    font-weight: 200;
    color: #555;
    overflow: hidden;
    word-wrap: break-word;
    /* white-space: nowrap; */
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    /*height: 60px;*/
    margin: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.newsElementMore {
    margin-top: 1px;
    float: right;
    /*text-align: right;*/
    color: #3EA2F4;
}

.newsElementBottomWrapper {
    font-family: "HelveticaNeue-Thin"!important;
    padding: 5px 15px!important;
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 0px 0px #a3a3a5;
    border-radius: 0px 0px 4px 4px;
    border: 0.1px solid #bcbaba;
    border-width: 0 1px 1px 1px;
}

.no-padding {
    padding: 0px;
}

.newsElement {
    background-color: #dcdddf;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px!important;
    width: 100%!important;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .2s
}

.missionList {
    margin-top: 10px!important;
}

.tabsGeneric {
    padding: 0;
    background-color: #e0e0e0;
}

md-tabs {
    height: 100%!important;
    border-radius: 0px!important;
    border-top: 1px solid #444;
}

.tabsWrapper {
    /*position: initial;*/
    top: 90;
    height: 100%!important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #d5d5d7!important;
}

.imageWrapper {
    background-color: #d60036;
    background-size: cover;
    height: 212px;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0px 0px;
    border: 0.1px solid #bcbaba;
    border-width: 1px 1px 0 1px;
}

.imageWrapper.detail {
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #2196f3;
}

.loginFormContainer {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.formBckgrnd {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-filter: blur(1px);
}

.loginFormPanel {
    position: relative;
    z-index: 1;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 3px;
    overflow: hidden;
    padding: 20px 45px 5px 25px;
}

.loginWrapper {
    position: absolute;
    bottom: 25;
    width: 80%;
    left: 10%;
}

.md-input-container .md-default-theme .md-input-invalid .md-input {
    border-color: white!important;
}

.imgMidText {
    color: white;
    text-transform: none;
    text-align: center!important;
    width: 100%;
    font-family: "HelveticaNeue-Medium"!important;
    font-size: 2.4em;
    z-index: 1!important;
    height: auto;
}

.imgSubText {
    font-family: "HelveticaNeue-Medium"!important;
    /*margin-top: 45px;*/
    font-size: 1.7em;
    height: 20px;
    padding-top: 5px;
}

.loginInput {
    color: black!important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}

.profileInputsWrapper {
    width: 96%;
    margin-left: 2%;
    padding: 20px 0;
    margin-bottom: 15px;
}

.profileInputsWrapper>md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
    border-color: black!important;
}

.imgDeadLine {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
    height: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.imgDeadLineText {
    font-size: 15px!important;
    font-family: "HelveticaNeue-Medium"!important;
    color: white;
    margin-left: 5px;
    width: 150px!important;
}

.imageDarkerer {
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black!important;
    opacity: 0.22;
}

.EULAWindow {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: calc(100% - 90px);
}

.EULABckgrnd {
    padding: 0%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("images/BackgroundBack.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.EULAWrapper {
    font-family: "HelveticaNeue-Medium"!important;
    font-size: 0.85em!important;
    padding: 15px 15px 0px 15px;
    height: calc(100% - 55px);
    margin: 20px!important;
    width: calc(100% - 70px);
    min-width: 0;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
}

.EULAWrapper p:nth-of-type(1) {
    font-size: 2em!important;
}

.EULAWrapper p {
    font-weight: 100;
}

.EULATable {
    width: 100%;
    margin-top: 0px;
}

.EULABtn {
    /*margin-left:5%!important;*/
    width: 100%!important;
    height: 60px;
}

iFrame {
    width: 100%;
}

.view-animate-container {
    position: relative;
    width: 100%;
}

.view-animate {
    -webkit-backface-visibility: hidden;
}



/*.view-animate.ng-enter,
.view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    position: absolute;
    width: 100%;
}*/

.rtl .view-animate.ng-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition-delay: 0.1s;
    opacity: 0;
}

.rtl .view-animate.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
}

.rtl .view-animate.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.ltr .view-animate.ng-enter {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition-delay: 0.1s;
    opacity: 0;
}

.ltr .view-animate.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
}

.ltr .view-animate.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.shopsComboBox {
    padding: 10px 0px!important;
    width: 80%!important;
    margin-left: 10%!important;
}

.md-select-label {
    width: 100%!important;
    color: black!important;
    font-family: "HelveticaNeue-Thin"!important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    padding: 0px;
    border-top: 2px solid #ddd;
}

.imageClickHandler {
    opacity: 0;
    z-index: 2;
}

.DNIInputPanel {
    height: 100%!important;
    position: relative!important;
    overflow-x: hidden;
    margin-bottom: 0px!important;
}

.defaultImage {
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center center;
}



/* {
    border-color: black!important;
}*/

.shopsImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flat {
    padding: 0px;
}

.scrollableMap {
    position: absolute;
    top: 50!important;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.shopsImageWrapper {
    background-color: #d60036;
    background-size: cover;
    height: 55%;
    overflow: hidden;
}

.shopsImageShadow {
    z-index: 1001;
    box-shadow: inset 0px 100px 100px #fff;
    pointer-events: none;
}

.shopsImageTitle {
    position: relative;
    left: 0;
    font-family: "HelveticaNeue-Medium"!important;
    font-size: 1.5em;
    z-index: 1002;
}

.shopsImageSubTitle {
    font-size: 1em;
    top: 0;
    text-align: left;
}

.shopsDetailContent {
    height: calc(100% - 90px);
    background-color: #DADBDD;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.detailedInfo {
    margin-bottom: 60px;
}

.textClass {
    position: absolute;
    width: 100%;
    font-size: 1em;
    top: 11px;
    left: 0;
    color: white;
}

.headerIcons {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px!important;
    margin: 0px!important;
    width: 35px;
    height: 35px;
    border: 0px solid red;
    min-width: 0px;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: 25px!important;
}

.headerIconsTable {
    height: 100%;
}

.headerIconsWrapper {
    position: absolute;
    background-color: #d60036;
    z-index: 1;
    right: 0;
    top: 11;
    height: 49px;
    padding: 0;
}

#detailedMap {
    height: 100%;
    width: 100%;
}

.mapContainer {
    position: absolute;
    width: 100%;
    height: calc(100% - 260px);
}

md-ink-bar {
    background-color: #2196f3!important;
    height: 3px!important;
}

.dialogTemp label {
    color: black!important;
    font-family: "HelveticaNeue-Thin"!important;
}

.dialogTemp .md-input md-input-container {
    border-color: white!important;
}

u {
    text-decoration: none;
    border-bottom: 1.5px solid black;
}

.dialogTemp {
    padding: 0px 20px;
}

​ md-input-container input:not(:focus) {
    color: red!important;
    border-width: medium!important;
}

md-input-container .dialogTemp {
    padding-bottom: 15px!important;
}

md-list-item {
    padding: 10px 0px!important;
}

.profileBulletPoint {
    position: relative;
    width: 30px;
    height: 30px;
    min-width: 0;
    margin-top: 7px;
    color: white!important;
    border-radius: 5px;
}

.optionsBackground {
    background-image: url(images/LogoEditProfile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
}

.visOn {
    display: block!important;
}

.visOff {
    display: none!important;
}

md-input-container label:not(.md-no-float) {
    -webkit-order: 0!important;
}

md-checkbox.md-checked .md-icon {
    background-color: #d60036!important;
}

.md-half-circle {
    border-top-color: #d60036!important;
}

.md-left>.md-half-circle {
    border-left-color: #d60036!important;
}

.md-right>.md-half-circle {
    border-right-color: #d60036!important;
}

.profileBirthdateInputs {
    width: 100%!important;
}

md-select:not([disabled]):focus .md-select-label {
    border-color: #1a5191!important;
}

md-radio-button:not([disabled]).md-primary.md-checked .md-off {
    border-color: #1a5191!important;
}

md-radio-button:not([disabled]).md-primary .md-on {
    background-color: #1a5191!important;
}

.shipAnimate {
    overflow-x: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: 7 5%!important;
}

.profileForm label {
    color: black!important;
}

.profileForm md-input-container {
    width: 100%;
    /*padding-bottom: 15px!important;*/
    margin-bottom: 10px;
}

.profileInput {
    width: 90%;
    margin: 0px 5%;
    padding: 0px;
}

.profileForm md-select {
    border-color: #1a5191!important;
    width: 100%;
}

.profileContentWrapper md-divider {
    width: 90%!important;
    margin: 0 5%!important;
}

.profileTitle {
    color: gray;
    margin: 10px 0 0 5%;
}

.profileDialog {
    max-height: calc(100% - 30px);
    max-width: 100%;
}

.md-dialog-container {
    width: calc(100% - 0px);
    height: calc(100% - 15px);
    margin: 15 0;
    z-index: 8000;
}

md-dialog {
    max-height: 100%!important;
}

.closeX {
    font-size: 22px;
    position: absolute;
    right: 15;
    top: 5;
}

.addShipSelect {
    padding-bottom: 0px;
}



/* when hiding the picture */


/*
.ng-hide-add {
    animation: .5s lightSpeedOut linear;
}


/* when showing the picture *

.ng-hide-remove {
    animation: .5s lightSpeedIn linear;
}
*/

.view.ng-enter,
.view.ng-leave {
    transition: opacity 300ms ease;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.view.ng-enter {
    opacity: 0;
}

.view.ng-enter.ng-enter-active {
    opacity: 1;
}

.view.ng-leave.ng-leave-active {
    opacity: 0;
}



/*
.view.ng-hide-add {
    opacity: 1;
}

.view.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.view.ng-hide-remove {
    display: block !important;
    opacity: 0;
}

.view.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}*/


/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */


/* flip in */

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
        transform: perspective(400px);
        transform: perspective(400px);
    }
}



/* light speed out */

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes lightSpeedIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tiny {
    font-size: 0.78em!important;
}

.cntSpan {
    /* height: 50px; */
    padding: 20px 0px;
}

.md-icon-button {
    width: 20px!important;
    height: 20px!important;
    right: 10px;
    top: 10px;
    z-index: 10000;
    margin: 0px!important;
    padding: 0px!important;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#shopSelectWrapper {
    position: absolute;
    z-index: 1000;
    width: 90%;
    left: 5%;
    background-color: white;
    border: 1px solid #a4a4a4;
    border-radius: 0px 0px 4px 4px;
}

.md-icon-button {
    width: 20px!important;
    height: 20px!important;
    right: 10px;
    top: 10px;
    z-index: 10000;
    margin: 0px!important;
    padding: 0px!important;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}



/*.md-dialog-container {
    z-index: 10001!important;
}*/

md-checkbox .md-label {
    margin-left: 10px;
}

.md-grid-item-content.md-button.md-default-theme {
    /*color: white;*/
}

md-bottom-sheet {
    background-color: #d60036;
}

.ng-scope.ng-isolate-scope.md-default-theme.material-icons {
    background-size: cover!important;
}

md-list md-list-item button.md-button:not(.sidenavButton):not([disabled]):hover {
    /*background-color: #d60036;*/
}

.ribbon {
    width: 181px;
    height: 183px;
    position: absolute;
    right: 0px;
    background: url(images/ribbon-promofinal.png);
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 1;
}

.annoyingMessage {
    position: fixed;
    z-index: 1000;
    bottom: 10;
    width: calc(100% - 20px);
    left: 10px;
    background: rgba(40, 40, 40, 0.9);
    border-radius: 5px;
    padding: 25px;
    color: white;
}

.svg {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    /*transition: -webkit-transform 0.6s ease-in-out;*/
}

.middle {}

.modal.popup {
    background: rgba(40, 40, 40, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 2px solid black;
}

.modal.popup>div,
.modal.popup>h2 {
    color: white;
}

.modal.popup>div>button {
    background-color: #8cb036!important;
    width: 80px;
    margin: 5px;
}

.connection-error,
.notification-error {
    padding: 0 20px;
}

.green-loader>.md-scale-wrapper>.md-spinner-wrapper>.md-inner>.md-left>.md-half-circle {
    border-top-color: #8cb036!important;
    border-left-color: #8cb036!important;
}

.green-loader>.md-scale-wrapper>.md-spinner-wrapper>.md-inner>.md-right>.md-half-circle {
    border-top-color: #8cb036!important;
    border-right-color: #8cb036!important;
}

.blur {
    -webkit-filter: blur(15px);
}

.md-select-menu-container.md-active.md-clickable {
    z-index: 20000;
}

.redeem-actions {
    padding-top: 30px;
}

ul.elements {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.addItemBtn {
    color: #000;
    width: 90%!important;
    margin-left: 5%;
}

.addItemBtn span {
    float: left;
    padding-top: 5px;
}

.addItemBtn span.add {
    margin-top: -3px;
    font-size: 30px;
    width: 100%;
    font-weight: bolder;
}

.btnCards {
    padding: 15px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #d60036;
    background-size: 21px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

.datosItem {
    margin-top: 3px;
}

.btnEditar {
    background-image: url("images/ic_edit_white_36px.svg");
}

.btnBorrar {
    background-image: url("images/ic_delete_white_36px.svg");
}

.noWebkitScroll {
    -webkit-overflow-scrolling: auto!important;
    overflow-y: hidden;
}

.detail-wrapper {
    position: absolute;
    top: -100%;
    width: 100%;
    opacity: 0;
    height: calc(100% - 20px);
    z-index: 4;
    overflow-y: scroll;
    background-color: white!important;
    -webkit-overflow-scrolling: touch;
}

.detail-content {
    width: 100%;
    margin-top: 50px;
}

.detail-wrapper::-webkit-scrollbar {
    display: none;
}

.content.shops {
    height: 100%!important;
    top: 0;
}

.noWebkitOverflow {
    -webkit-overflow-scrolling: none!important;
}

.noPointerEvents {
    pointer-events: none!important;
}

.noshow {
    visibility: hidden!important;
}



/*
.relevant.newsElementBottomWrapper {
    border: 5px solid #d60036;
    background-color: #d60036;
    color: white!important;
    border-top-width: 0px;
    box-shadow: initial;
}

.relevant.newsElementBottomWrapper > * {
    color: white!important;
}

.relevant.imageWrapper {
    border: 5px solid #d60036;
    border-bottom-width: 0px;
}*/

#refresher {
    position: absolute;
    left: calc(50% - 25px);
    top: 30;
    z-index: 1;
}

.nowebkitscroll {
    -webkit-overflow-scrolling: none;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    left: calc(50% - 20px);
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 1;
}



/*.elements:before {
    content:"";
    width:1px;
    float: left;
    height: calc(100% + 10px);
    margin-left: -1px
}*/


/*.elements {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}*/

li.newsPiece {
    overflow: hidden;
}

li.newsPiece:first-child {
    margin-top: 8px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

#myWrapper {
    position: absolute;
    z-index: 1;
    top: 90px;
    bottom: 0px;
    left: 9999px;
    width: 100%;
    background: #ccc;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.pullDownLabel,
.pullUpLabel {
    padding: 5px;
    color: white;
    background-color: #d60036;
    border-radius: 5px;
}

.pullDown,
.pullUp {
    /*background-color: #d60036;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #888
}

.pullDown .pullDownIcon,
.pullUp .pullUpIcon {
    display: block;
    margin-left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    /*-webkit-background-size: 40px 80px;
    -ms-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    -webkit-transition-duration: 150ms;
    -ms-transition-duration: 150ms*/
}

.pullDownIcon>svg {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
}

.pullDownIcon>svg>g>path {
    fill: #d60036;
}

.pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.pullDown.loading .pullDownIcon,
.pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -ms-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -ms-animation-name: loading;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0)
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0)
    }
}

@-ms-keyframes loading {
    from {
        -ms-transform: rotate(0deg) translateZ(0)
    }
    to {
        -ms-transform: rotate(360deg) translateZ(0)
    }
}

.auth-button {
    text-align: center;
    -webkit-animation-delay: 0.5s;
    color: white!important;
    position: absolute;
    width: calc(100% - 40px);
    max-height: 0px!important;
    margin-bottom: 10px;
    left: 20px;
    border-radius: 2px!important;
    padding: 8px 15px!important;
    background-color: #8cb036!important;
    font-family: "HelveticaNeue-Thin";
    font-size: 1em!important;
    text-transform: none;
}

.auth-button>md-icon {
    position: absolute;
    top: -3;
}

.auth-button.fb {
    background-color: #3b579d!important;
}

.auth-button.guest {
    background-color: transparent !important;
    border: 0px solid white;
}

#toaster {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 10000;
}



/* STICKERS */

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-bullets {
    top: 15px;
}

.swiper-pagination-bullet {
    background: #eee;
    margin: 10px;
    width: 12px;
    height: 12px;
}

.swiper-wrapper {
    /*top: 10px;*/
}

.block {
    padding: .25rem 0;
    margin: .25rem 0;
    background: #00ccff;
    border: 1px solid #111;
    border-radius: 3px;
}

button {
    background: gray: color: #333;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: .25rem;
}

.pictures {}

#drag-1,
#drag-2 {
    width: 100px;
    height: 100px;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}

.stickers.swiper-container.hidden {
    bottom: -100%;
}

.swiper-stickers-container {
    background-color: transparent;
}

.stickers.swiper-container {
    /*position: absolute;*/
    height: 300px;
    z-index: 100;
    width: 100%;
    bottom: calc(-100% + 300px);
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    /*top: 0px;
    left: 0px;
    background: #d60036;
    border-radius: 0px 0px 2px 2px;*/
    -webkit-transition: bottom .5s ease-out;
}

.stickers-swiper-slide {
    background: transparent;
    height: 100px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.stickers>.controls {
    position: absolute;
    width: 100%;
    padding: 20px 0px;
    bottom: 20px;
    left: 0px;
    border-radius: 0px 0px 2px 2px;
}

.stickers>button {
    z-index: 2000;
}

.stickers>canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    /*width: 100%;
    height: 100%;*/
    background: transparent;
}

.bordered {
    border: 1px solid #fff!important;
}

.rdrag {
    /*border: 1px solid white;*/
    position: absolute;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    /*padding: 20px;
    margin: 30px 20px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    /* This makes things *much* easier */
    box-sizing: border-box;
}

.cameraModal {
    /*background: rgba(0,0,0,0.8);*/
    width: 100%;
    height: calc(100% - 20px);
    position: fixed;
    top: 20;
    left: 0;
    z-index: 10;
}

.unraised {
    background: transparent!important;
    box-shadow: none!important;
}

.cameraModal>button>md-icon>svg {
    /*fill: white;*/
}

.no-opacity {
    opacity: 0!important;
}

.bg-transparent {
    background: transparent!important;
    background-color: transparent!important;
}


/*
.sticker-options, .md-grid-item-content {
    width: 100%;
    height: 100%;
}*/

.sticker-options {
    border-radius: 0px!important;
    background-color: transparent;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 33%;
    float: left;
    height: 100px;
    box-shadow: none;

    -webkit-transition: border .5s ease-out;
}

.sticker-options > button {
    position: relative;
    border-radius: 0px!important;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    -webkit-transition: border .5s ease-out;
    width: 100%;
    height: 100%;
}

.md-dialog-container {
    border-width: 0px!important;
    background: rgba(0, 0, 0, 0.5);
}

md-dialog {
    background: transparent;
    max-width: none;
    overflow-x: hidden ;
}

.text-adder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white!important;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    transition: opacity 500ms ease-in;
    -webkit-transition: opacity: 500ms ease-in;
    display: block;
}

.text-adder>md-input-container {
    top: calc(50% - 20px);
    padding: 0px 30px;
    z-index: 1001;
    position: absolute;
}

.text-adder>md-input-container>input {
    color: white;
    border-color: white!important;
}

.text-adder.ng-hide-remove {
    opacity: 1;
}

.text-adder.ng-hide-add {
    opacity: 0;
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/roboto-bold-webfont.woff);
}

.textRuler {
    display: none;
}

.text-adder>.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    top: calc(50% + 40px);
    padding: 0px 30px;
    z-index: 1001;
    position: absolute;
}

.text-adder>.swiper-wrapper>.swiper-slide {
    width: 30px!important;
    height: 30px!important;
}

#finalOptions {
    z-index: 2000;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
}

#finalOptions>section {
    position: absolute;
    bottom: 95px;
    left: 0px;
    width: 100%;
}

#finalOptions>.row {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

#finalOptions>h3 {
    width: 100%;
    padding: 3% 0px;
    text-align: center;
    background: #d60036;
    margin: 0;
}

#finalOptions>section>h3 {
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}

.finalPreview {
    transform: scale(0.8);
    top: -12%!important;
}

.shutter {
    z-index: 2001;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;

    -webkit-transition: opacity .2s cubic-bezier(0.68, -0.55, 0.265, 1.55)!important;
    transition: opacity .2s cubic-bezier(0.68, -0.55, 0.265, 1.55)!important;
    display: block;
    opacity: 0;
}

.shutter.ng-hide-remove {
    opacity: 1!important;
}

.shutter.ng-hide-add {
    opacity: 0!important;
}

.opaque {
    opacity: 1!important;
}

@keyframes zoomBounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.zoomBounceMe {
    animation: .3s zoomBounce ease-in;
}

.sticker-option {
    width: 50px;
}

.not-displayed {
    display: none;
}

/* STICKERS */