.EULAWindow {   
    padding:0!important;
}

.EULADialog{
    padding: 15px; 
    max-width: 100%;
}

.content {
    left: 0px;
}

md-checkbox .md-label {
    margin-left: 35px!important; 
}
/*
.profileForm md-input-container {    
    padding-bottom: 5px!important;
}

.IconoDNIPerfil {    
    margin: -13px 10 24px 0!important;
}

.profileTitle {   
    padding-top: 20px!important;
}

.profileInputsWrapper {    
    margin-left: 2%!important;
}

.IconoMensajesPerfil {
    margin-top: 1px!important;
}

.IconoFechaPerfil {
    top: 15px!important;
}

.IconoPerfilNombre {
    top: 13!important;
}*/

.md-raised.md-primary.animated.flipInY.profileButton.md-button {
    color:white!important;
}

md-input-container {
    width: 100%!important;
}
