<div class="content">
    <div class="allTabs" ng-show="shouldShowTable"></div>
    <div class="categoryButtonTable">
        <div id="buttonTable" class="categoryRows" ng-show="shouldShowTable">
            <div layout="row" class="categoryButtonTableRow" id="buttonTableRow{{$index}}" ng-repeat="subCategory in filteredCategories">
                <md-button id="categoryButton{{$index}}" class="md-raised md-primary md-whiteframe-z2 categoryButton" hm-tap="navCategory($index)" hm-recognizer-options='{"threshold":20,"time":2000,"preventGhosts":true}' aria-label="cb">{{subCategory.name}}</md-button>
                <md-button class="md-fab categoryCheckButton" id="checkButton{{$index}}" hm-tap="navCategory($index)" hm-recognizer-options='{"threshold":20,"time":2000,"preventGhosts":true}' aria-label="ccb"></md-button>
            </div>
        </div>
    </div>
    <div class="tickets-content">
        <div id="shopSelectWrapper">
            <div class="controlSelect">
                <md-select id="provincias" class="shopsComboBox" placeholder="Elija una provincia" ng-value="provincia" ng-model="someVal1">
                    <md-option ng-repeat="provincia in provincias">{{provincia.name}}</md-option>
                </md-select>
            </div>
            <div class="controlSelect">
                <md-select id="localidades" class="shopsComboBox" placeholder="Elija una localidad" ng-model="someVal2">
                    <md-option ng-repeat="localidad in localidades" ng-value="localidad">{{localidad.name}}</md-option>
                </md-select>
            </div>
            <div class="controlSelect">
                <md-select class="shopsComboBox" placeholder="Elija un local" id="locales" ng-model="someVal3">
                    <md-option ng-repeat="shop in shops" ng-value="shop">{{shop.name}}</md-option>
                </md-select>
            </div>
        </div>
        <div id="detailedInfo" class="square2 animated fadeInRight no-padding-bottom" style="padding-top: 25px; -webkit-animation-delay: 0.2s;width: 90%!important;left: 5%;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;border: 1px solid rgb(164, 164, 164);">
            <md-button id="showInfo" ng-click="showInfo()" style="height: 0px!important; width: 100%; border-radius: 0;background-color: black; color: white;top: 0;position: absolute;left: 0;">{{hbutton}}</md-button>
            <div style="top: 0; height: 100%;" class="scrollableMap">
                <div id="map"></div>
            </div>
        </div>
        <div id="shops-tab-wrapper-0" class="tabsWrapper">
            <div class="tabsGeneric" hm-pan="onHammer($event);" hm-recognizer-options='{"type":"pan","directions":"DIRECTION_HORIZONTAL"}'>
            </div>
        </div>
    </div>
</div>
