<div ng-init="button=true" class="content">
    <div class="profile-content">
        <!--<div class="profileImage" style="background-image:url('assets/images/imgContacto.jpg')"></div>-->
        <div style="height:200px;background-image: url('assets/images/img_640x380px.png');background-repeat: no-repeat;background-position: center center;background-size: cover">
        </div>
        <md-content layout-padding class="profileContentWrapper">
            <input type="file" style="display:none" accept="image/*" capture="camera">
            <div class="profileInputsWrapper">
                <form name="projectForm" class="profileForm">
                    <h1 class="profileTitle">Datos de contacto:</h1>
                    <md-divider></md-divider>

                    <div class="profileInput" layout="row">
                        <div flex="20" class="md-raised nav-icon IconoPerfilTelefono" style="font-size:16px;"></div>
                        <span flex="80" class="cntSpan"><a href="tel:0810-220-5000">0810-220-5000</a></span>
                    </div>
                    <div class="profileInput" layout="row">
                        <div flex="20" class="md-raised nav-icon IconoMensajesPerfil" style="font-size:16px;"></div>
                        <span flex="80" flex="85" class="cntSpan"><a href="mailto:grisinofan@grisino.com">grisinofan@grisino.com</a></span>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</div>
