<div class="EULABckgrnd">
	<div class="EULAWrapper">

		<div class="EULAWindow">
		<br><strong style="text-align: center; font-size: 1.4em;">Contrato de Licencia de Usuario Final</strong><br>
Este Acuerdo de Licencia de Usuario Final ( "CLUF") es un contrato legal vinculante entre usted, como individuo o entidad, y BusinessMart SA, propietaria de la aplicación Nauticapp ( de ahora en más "Nauticapp" ).  Al descargar, instalar o utilizar esta aplicación para Android, iOS u otra plataforma móvil, según el caso (de ahora en más el "Software"), usted acepta quedar obligado por los términos de éste Contrato de Licencia de Usuario Final, de ahora en adelante CLUF. Si no está de acuerdo con los términos de la licencia, no active la casilla "Acepto las condiciones" y no podrá utilizar el Software.<br>
Usted está de acuerdo que la instalación o el uso del Software significa que ha leído, entendido y acepta estar obligado por el CONTRATO DE LICENCIA DE USUARIO FINAL.
El Software se proporciona en virtud de este CLUF únicamente para su uso privado y no comercial. 
<br><br><strong>1. Descripción del Software</strong><br>
El Software es una aplicación de software descargable que permite acceder a funcionalidad, servicios y beneficios propuestos por Nauticapp directamente desde tu Android, iPhone, iPad o cualquier otro dispositivo móvil compatible ( "Dispositivo" ). Puede descargar el Software en forma gratuita desde la Tienda Online de Aplicaciones de su sistema móvil, ya sea que Ud. sea un miembro registrado anteriormente o no, pero debe asociarlo a una cuenta existente o registrarse creando una nueva cuenta, siguiendo las indicaciones del Software, para permitir que su funcionalidad sea completa. Sin ser una enunciación limitante, el uso del Software está destinado a, visualizar contenidos, promociones, participar en actividades lúdicas individuales o sociales, canjear promociones y/o beneficios, consultar puntos/saldos disponibles, sumar puntos o cualquier otro indicador de participación y/o transacción, buscar comercios de interés por rubro y/o ubicación geográfica, publicar y/o compartir contenidos generados por Ud., acceder a sitios web propios o de terceros, registrar compras realizadas, y cualquier otra Funcionalidad que Nauticapp desee incluir en ésta o futuras versiones del Software.

<br><br><strong>2. Licencia</strong><br>
Nauticapp le otorga, sujeto a los términos y condiciones de este Acuerdo, una licencia no exclusiva, no transferible que le permite:<br>
<ul>
<li>Utilizar el software para su uso personal. </li>
<li>Instalar el Software en un solo dispositivo; y</li>
<li>Hacer una copia del Software en un formato legible por máquina exclusivamente para fines de copia de seguridad, siempre que se reproduzcan el Software en su forma original y con todos los avisos de la copia de seguridad.
Para mayor claridad, lo anterior no tiene por finalidad prohibir instalación y copia de seguridad del software en  otros dispositivos en los que se acordó también el CONTRATO DE LICENCIA DE USUARIO FINAL. Cada una de las instancias de este CLUF que usted está de acuerdo le otorga a los derechos antes mencionados en relación con la instalación, el uso y el back-up de una copia del Software en un dispositivo. </li>
</ul>
<br><br><strong>3. Título de Propiedad</strong><br>
La propiedad y todos los derechos (incluyendo sin limitación derechos de propiedad intelectual) del Software permanecen con Nauticapp. Con excepción de los derechos expresamente reconocidos en la presente Licencia, no se concederán otros derechos, ya sea expresa o implícita.
<br><br><strong>4. Restricciones</strong><br>
Usted entiende y acepta que usted sólo puede usar el Software de tal manera que cumpla con todas las leyes aplicables en las jurisdicciones en que se utilice el Software. Su uso se hará de conformidad con las restricciones del caso acerca de la privacidad y los derechos de propiedad intelectual.
Usted no puede:<br>
<ul>
<li>Crear versiones de otros Software derivados del Software;</li>
<li>Utilizar el software para cualquier propósito que no sea el descrito en este documento. </li>
<li>Copiar o reproducir el Software, excepto como se describe en la presente licencia; </li>
<li>Vender, asignar, licenciar, divulgar, distribuir o transferir de cualquier otra forma poner a disposición del Software o de cualquier copia del Software de ninguna forma a terceras partes. </li>
<li>Modificar, traducir, descompilar, desensamblar ni realizar ingeniería inversa en el Software, o la tentativa de lo anterior, salvo en la medida en que esta prohibición no está permitido en la legislación aplicable; o</li>
<li>Quitar o modificar ningún aviso de propiedad o marcas en el Software. </li>
<li>Subir, compartir y/o publicar  textos que no sean de su exclusiva autoría y para los cuales posea todos los derechos de publicación necesarios</li>
<li>Subir, compartir y/o publicar  fotografías y/o videos  que no sean de su exclusiva autoría y para los cuales posea todos los derechos de publicación necesarios. </li>
<li>Subir, compartir y/o publicar  textos, fotos, audios y/o videos que sean difamatorios, ofensivos para otros miembros usuarios del Software, que sean contrarios a principios éticos y/o morales generalmente aceptados y/o a las normas legales. </li>
</ul>
El incumplimiento de estas restricciones producirá la baja inmediata de Ud. como usuario del Software impidiendo al infractor a continuar utilizando el mismo. Sin perjuicio de lo expuesto Nauticapp se reserva el derecho de iniciar las acciones legales necesarias a efectos de lograr un resarcimiento para sí y/o para los terceros damnificados por la acción indebida desarrollada.

<br><br><strong>5. Información Personal y privacidad</strong><br>
Puede que le solicitemos que nos proporcione cierta información acerca de usted durante el proceso de descarga de Software y/o durante el uso del mismo. El software podría registrar la actividad que Ud. desarrolla con él a efectos de mejorar su experiencia de uso y proveerle contenidos y servicios más relevantes acorde a sus intereses. Toda la información personal que usted nos proporcione, así como la que el Software infiera de las actividades que Ud. desarrolla con él,  se regirá por la Política de Privacidad, que está disponible en http://nauticapp.net/privacidad.html La información personal que usted proporcione durante la fase de registración y/o durante el uso del Software  también se rige por la Política de Privacidad. Al optar por utilizar el Software y/o el, usted indica su comprensión y aceptación del CLUF y la Política de Privacidad. Nunca venderemos ni compartiremos su información personal con otras empresas. Sin embargo Usted entiende y acepta que Nauticapp puede revelar información cuando así lo requiera la ley o en la creencia de buena fe que dicha revelación es razonablemente necesaria para cumplir con procesos legales, hacer cumplir los términos de este CLUF, o para proteger los derechos, propiedad o seguridad de Nauticapp, sus usuarios o el público. 
<br><br><strong>6. Sin garantía</strong><br>
NAUTICAPP NO GARANTIZA QUE LAS FUNCIONES CONTENIDAS EN EL SOFTWARE VAYA A CUMPLIR CON LAS NECESIDADES O REQUERIMIENTOS QUE SE PUEDA TENER, O QUE EL SOFTWARE FUNCIONARÁ LIBRE DE ERRORES, O DE FORMA ININTERRUMPIDA, O QUE CUALQUIER DEFECTO O ERROR SERÁ CORREGIDO, O QUE EL SOFTWARE ES TOTALMENTE COMPATIBLE CON CUALQUIER PLATAFORMA EN PARTICULAR. EL SOFTWARE SE OFRECE EN EL ESTADO "TAL CUAL ES" Y SIN GARANTÍA, YA SEA EXPRESA O IMPLÍCITA. NAUTICAPP EXPRESAMENTE NIEGA TODAS LAS GARANTÍAS DE CUALQUIER TIPO, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO NO LIMITADO A, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD y/O IDONEIDAD PARA UN PROPÓSITO PARTICULAR. USTED ACEPTA QUE LA INFORMACIÓN QUE SE PRESENTA EN EL SOFTWARE NO POSEE GARANTÍA ALGUNA DE VERACIDAD O CERTEZA POR LO QUE NO PODRÁ EJERCER RECLAMO ALGUNO POR DECISIONES QUE UD. TOMARA BASADO EN LA INFORMACIÓN PRESENTADA. ES DE SU EXCLUISVA RESPONSABILIDAD REALIZAR LAS VERIFICACIONES CORRESPONDIENTES ANTES DE TOMAR ACCIÓN ALGUNA. SIN SER UNA ENUNCIACION ABARCATIVA QUEDA BAJO SU RESPONSABILIDAD VERIFICAR DIRECCIONES, HORARIOS, UBICACIONES INDICADAS MEDIANTE GPS, PROMOCIONES VIGENTES, ACTIVIDADES SUGERIDAS, DATOS DE CONTACTO, RUTAS Y DERROTEROS ENTRE OTRAS.   ALGUNAS JURISDICCIONES NO PERMITEN LA RENUNCIA O LA EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS, POR LO QUE ES POSIBLE QUE NO SE APLIQUEN A USTED.
<br><br><strong>7. Derecho a rescindir o modificar el Software</strong><br>
NAUTICAPP podrá modificar el Software y este CLUF con o sin aviso previo. Cualquier modificación se reflejará en http://nauticapp.net/terminosycondiciones.html y/o en la sección “Términos y condiciones” de la aplicación descargada en su dispositivo móvil. Las modificaciones podrían incluir, sin ser una enunciación extensiva, el cobro de tarifas por el Software, cambiar la funcionalidad y/o la apariencia del Software. En el caso que Nauticapp modifique el Software o los términos de la licencia, usted puede terminar este CLUF y dejar de utilizar el Software. Nauticapp podrá poner fin a su uso del Software y dar por finalizado el presente CLUF en cualquier momento, con o sin previo aviso.
<br><br><strong>8. Open Source</strong><br>
El Software puede contener porciones de software de fuente abierta. Cada elemento del software de fuente abierta está sujeto a sus propias condiciones de licencia aplicables. Los Derechos de Autor del software de código abierto están en manos de los respectivos titulares de los derechos de autor de dicho código.
<br><br><strong>9. Indemnización</strong><br>
Al aceptar el CLUF, usted se compromete a indemnizar y mantener indemne a Nauticapp, sus filiales, empresas asociadas y otros socios comerciales, de cualquier daño directo o indirecto que surja como consecuencia de la utilización indebida que Ud. realice del Software o de cualquier otro asunto relacionado con el Software.
<br><br><strong>10. Limitación de responsabilidad</strong><br>
USTED RECONOCE Y ACEPTA EXPRESAMENTE QUE NAUTICAPP NO SERÁ RESPONSABLE DE NINGÚN DAÑO INDIRECTO, INCIDENTAL, CONSECUENTE DEL USO QUE UD. HAGA DEL SOFTWARE, INCLUYENDO PERO NO LIMITADO A, DAÑOS Y PERJUICIOS,  DAÑOS POR PÉRDIDA DE DATOS, DE DINERO, DE INGRESOS, DE PUNTOS DEL PROGRAMA DE LEALTAD, DE BENEFICIOS DE CUALQUIER ÍNDOLE, U OTRAS PÉRDIDAS INTANGIBLES (INCLUSO SI NAUTICAPP HUBIERA SIDO ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS). ALGUNAS JURISDICCIONES NO PERMITEN LA LIMITACIÓN DE LOS DAÑOS Y PERJUICIOS Y/O EXCLUSIONES DE RESPONSABILIDAD POR DAÑOS INCIDENTALES O CONSECUENTES. EN ESTE SENTIDO, ALGUNAS DE LAS LIMITACIONES ANTERIORES PUEDEN NO APLICARSE A USTED.
<br><br><strong>11. General</strong><br>
El acuerdo de licencia entre usted y Nauticapp fija jurisdicción en la Ciudad Autónoma de Buenos Aires, siendo ese el foro exclusivo para cualquier disputa derivada o relacionada con este CONTRATO. El contrato de licencia constituye el acuerdo completo entre usted y Nauticapp con respecto al Software. Si alguna disposición de este CLUF es considerada por un tribunal de jurisdicción competente para ser contraria a la ley, tal disposición será cambiada e interpretada con el fin de cumplir mejor los objetivos de la disposición original hasta el máximo permitido por la ley y el resto de las disposiciones de este acuerdo permanecerá en pleno vigor y efecto. Usted no puede ceder este Contrato y la cesión de este CLUF por usted será nula y sin valor.  Otros logotipos y nombres comerciales y/o marcas que puedan aparecer dentro del contenido de Nauticapp son marcas registradas de sus respectivos dueños. Usted se compromete a no utilizar estas marcas en cualquier forma sin permiso previo y por escrito de los titulares de dominio. Los títulos de sección y la numeración de este CLUF se muestran para su comodidad y no producen efectos jurídicos.

			<!--<p style="text-align: center">Contrato de Licencia<br>de Usuario Final</p>
			<p>Este Acuerdo de Licencia de Usuario Final ( "CLUF") es un contrato legal vinculante entre usted, como individuo o entidad, y BusinessMart SA, propietaria de la aplicación Nauticapp ( de ahora en 

más "Nauticapp" ).  Al descargar, instalar o utilizar esta aplicación para Android, iOS u otra 

plataforma móvil, según el caso (de ahora en más el "Software"), usted acepta quedar obligado por 

los términos de éste Contrato de Licencia de Usuario Final, de ahora en adelante CLUF. Si no está 

de acuerdo con los términos de la licencia, no active la casilla "Acepto las condiciones" y no podrá 

utilizar el Software.

Usted está de acuerdo que la instalación o el uso del Software significa que ha leído, entendido y 

acepta estar obligado por el CONTRATO DE LICENCIA DE USUARIO FINAL.

El Software se proporciona en virtud de este CLUF únicamente para su uso privado y no comercial. 

1. Descripción del Software

El Software es una aplicación de software descargable que permite acceder a 

funcionalidad, servicios y beneficios propuestos por Nauticapp directamente desde 

tu Android, iPhone, iPad o cualquier otro dispositivo móvil compatible ( "Dispositivo" ). 

Puede descargar el Software en forma gratuita desde la Tienda Online de Aplicaciones de 

su sistema móvil, ya sea que Ud. sea un miembro registrado anteriormente o no, pero debe 

asociarlo a una cuenta existente o registrarse creando una nueva cuenta, siguiendo las 

indicaciones del Software, para permitir que su funcionalidad sea completa. Sin ser una 

enunciación limitante, el uso del Software está destinado a, visualizar contenidos, 

promociones, participar en actividades lúdicas individuales o sociales, canjear promociones 

y/o beneficios, consultar puntos/saldos disponibles, sumar puntos o cualquier otro indicador 

de participación y/o transacción, buscar comercios de interés por rubro y/o ubicación 

geográfica, publicar y/o compartir contenidos generados por Ud., acceder a sitios web 

propios o de terceros, registrar compras realizadas, y cualquier otra Funcionalidad que 

Nauticapp desee incluir en ésta o futuras versiones del Software.

2. Licencia

Nauticapp le otorga, sujeto a los términos y condiciones de este Acuerdo, una licencia no 

exclusiva, no transferible que le permite:

 Utilizar el software para su uso personal.

 Instalar el Software en un solo dispositivo; y

 Hacer una copia del Software en un formato legible por máquina exclusivamente para fines 

de copia de seguridad, siempre que se reproduzcan el Software en su forma original y con 

todos los avisos de la copia de seguridad.

Para mayor claridad, lo anterior no tiene por finalidad prohibir instalación y copia de 

seguridad del software en  otros dispositivos en los que se acordó también el CONTRATO 

DE LICENCIA DE USUARIO FINAL. Cada una de las instancias de este CLUF que usted 

está de acuerdo le otorga a los derechos antes mencionados en relación con la instalación, 

el uso y el back-up de una copia del Software en un dispositivo.

3. Título de Propiedad

La propiedad y todos los derechos (incluyendo sin limitación derechos de propiedad 

intelectual) del Software permanecen con Nauticapp. Con excepción de los derechos 

expresamente reconocidos en la presente Licencia, no se concederán otros derechos, ya 

sea expresa o implícita.

4. Restricciones

Usted entiende y acepta que usted sólo puede usar el Software de tal manera que cumpla 

con todas las leyes aplicables en las jurisdicciones en que se utilice el Software. Su uso se 

hará de conformidad con las restricciones del caso acerca de la privacidad y los derechos 

de propiedad intelectual.

Usted no puede:

 Crear versiones de otros Software derivados del Software;

 Utilizar el software para cualquier propósito que no sea el descrito en este documento.

 Copiar o reproducir el Software, excepto como se describe en la presente licencia;

 Vender, asignar, licenciar, divulgar, distribuir o transferir de cualquier otra forma poner a 

disposición del Software o de cualquier copia del Software de ninguna forma a terceras 

partes.

 Modificar, traducir, descompilar, desensamblar ni realizar ingeniería inversa en el Software, 

o la tentativa de lo anterior, salvo en la medida en que esta prohibición no está permitido 

en la legislación aplicable; o

 Quitar o modificar ningún aviso de propiedad o marcas en el Software.

 Subir, compartir y/o publicar  textos que no sean de su exclusiva autoría y para los cuales 

posea todos los derechos de publicación necesarios

 Subir, compartir y/o publicar  fotografías y/o videos  que no sean de su exclusiva autoría y 

para los cuales posea todos los derechos de publicación necesarios.

 Subir, compartir y/o publicar  textos, fotos, audios y/o videos que sean difamatorios, 

ofensivos para otros miembros usuarios del Software, que sean contrarios a principios 

éticos y/o morales generalmente aceptados y/o a las normas legales.

El incumplimiento de estas restricciones producirá la baja inmediata de Ud. como usuario 

del Software impidiendo al infractor a continuar utilizando el mismo. Sin perjuicio de lo 

expuesto Nauticapp se reserva el derecho de iniciar las acciones legales necesarias a 

efectos de lograr un resarcimiento para sí y/o para los terceros damnificados por la acción 

indebida desarrollada.

5. Información Personal y privacidad

Puede que le solicitemos que nos proporcione cierta información acerca de usted durante 

el proceso de descarga de Software y/o durante el uso del mismo. El software podría 

registrar la actividad que Ud. desarrolla con él a efectos de mejorar su experiencia de uso y 

proveerle contenidos y servicios más relevantes acorde a sus intereses. Toda la 

información personal que usted nos proporcione, así como la que el Software infiera de las 

actividades que Ud. desarrolla con él,  se regirá por la Política de Privacidad, que está 

disponible en http://nauticapp.net/privacidad La información personal que usted 

proporcione durante la fase de registración y/o durante el uso del Software  también se rige 

por la Política de Privacidad. Al optar por utilizar el Software y/o el, usted indica su 

comprensión y aceptación del CLUF y la Política de Privacidad. Nunca venderemos ni 

compartiremos su información personal con otras empresas. Sin embargo Usted entiende y 

acepta que Nauticapp puede revelar información cuando así lo requiera la ley o en la 

creencia de buena fe que dicha revelación es razonablemente necesaria para cumplir con 

procesos legales, hacer cumplir los términos de este CLUF, o para proteger los derechos, 

propiedad o seguridad de Nauticapp, sus usuarios o el público. 

6. Sin garantía

NAUTICAPP NO GARANTIZA QUE LAS FUNCIONES CONTENIDAS EN EL SOFTWARE 

VAYA A CUMPLIR CON LAS NECESIDADES O REQUERIMIENTOS QUE SE PUEDA 

TENER, O QUE EL SOFTWARE FUNCIONARÁ LIBRE DE ERRORES, O DE FORMA 

ININTERRUMPIDA, O QUE CUALQUIER DEFECTO O ERROR SERÁ CORREGIDO, O 

QUE EL SOFTWARE ES TOTALMENTE COMPATIBLE CON CUALQUIER 

PLATAFORMA EN PARTICULAR. EL SOFTWARE SE OFRECE EN EL ESTADO "TAL 

CUAL ES" Y SIN GARANTÍA, YA SEA EXPRESA O IMPLÍCITA. NAUTICAPP 

EXPRESAMENTE NIEGA TODAS LAS GARANTÍAS DE CUALQUIER TIPO, YA SEA 

EXPRESA O IMPLÍCITA, INCLUYENDO, PERO NO LIMITADO A, LAS GARANTÍAS 

IMPLÍCITAS DE COMERCIABILIDAD y/O IDONEIDAD PARA UN PROPÓSITO 

PARTICULAR. USTED ACEPTA QUE LA INFORMACIÓN QUE SE PRESENTA EN EL 

SOFTWARE NO POSEE GARANTÍA ALGUNA DE VERACIDAD O CERTEZA POR LO 

QUE NO PODRÁ EJERCER RECLAMO ALGUNO POR DECISIONES QUE UD. TOMARA 

BASADO EN LA INFORMACIÓN PRESENTADA. ES DE SU EXCLUISVA 

RESPONSABILIDAD REALIZAR LAS VERIFICACIONES CORRESPONDIENTES ANTES 

DE TOMAR ACCIÓN ALGUNA. SIN SER UNA ENUNCIACION ABARCATIVA QUEDA 

BAJO SU RESPONSABILIDAD VERIFICAR DIRECCIONES, HORARIOS, UBICACIONES 

INDICADAS MEDIANTE GPS, PROMOCIONES VIGENTES, ACTIVIDADES SUGERIDAS, 

DATOS DE CONTACTO, RUTAS Y DERROTEROS ENTRE OTRAS.   ALGUNAS 

JURISDICCIONES NO PERMITEN LA RENUNCIA O LA EXCLUSIÓN DE GARANTÍAS 

IMPLÍCITAS, POR LO QUE ES POSIBLE QUE NO SE APLIQUEN A USTED.

7. Derecho a rescindir o modificar el Software

NAUTICAPP podrá modificar el Software y este CLUF con o sin aviso previo. Cualquier 

modificación se reflejará en http://nauticapp.net/terminosycondiciones.html y/o en la 

seeción “Términos y condiciones” de la aplicación descargada en su dispositivo móvil. Las 

modificaciones podrían incluir, sin ser una enunciación extensiva, el cobro de tarifas por el 

Software, cambiar la funcionalidad y/o la apariencia del Software. En el caso que 

Nauticapp modifique el Software o los términos de la licencia, usted puede terminar este 

CLUF y dejar de utilizar el Software. Nauticapp podrá poner fin a su uso del Software y dar 

por finalizado el presente CLUF en cualquier momento, con o sin previo aviso.

8. Open Source

El Software puede contener porciones de software de fuente abierta. Cada elemento del 

software de fuente abierta está sujeto a sus propias condiciones de licencia aplicables. Los 

Derechos de Autor del software de código abierto están en manos de los respectivos 

titulares de los derechos de autor de dicho código.

9. Indemnización

Al aceptar el CLUF, usted se compromete a indemnizar y mantener indemne a Nauticapp, 

sus filiales, empresas asociadas y otros socios comerciales, de cualquier daño directo o 

indirecto que surja como consecuencia de la utilización indebida que Ud. realice del 

Software o de cualquier otro asunto relacionado con el Software.

10. Limitación de responsabilidad

USTED RECONOCE Y ACEPTA EXPRESAMENTE QUE NAUTICAPP NO SERÁ 

RESPONSABLE DE NINGÚN DAÑO INDIRECTO, INCIDENTAL, CONSECUENTE DEL 

USO QUE UD. HAGA DEL SOFTWARE, INCLUYENDO PERO NO LIMITADO A, DAÑOS 

Y PERJUICIOS,  DAÑOS POR PÉRDIDA DE DATOS, DE DINERO, DE INGRESOS, DE 

PUNTOS, DE BENEFICIOS DE CUALQUIER ÍNDOLE, U OTRAS PÉRDIDAS 

INTANGIBLES (INCLUSO SI NAUTICAPP HUBIERA SIDO ADVERTIDO DE LA 

POSIBILIDAD DE TALES DAÑOS). ALGUNAS JURISDICCIONES NO PERMITEN LA 

LIMITACIÓN DE LOS DAÑOS Y PERJUICIOS Y/O EXCLUSIONES DE 

RESPONSABILIDAD POR DAÑOS INCIDENTALES O CONSECUENTES. EN ESTE 

SENTIDO, ALGUNAS DE LAS LIMITACIONES ANTERIORES PUEDEN NO APLICARSE 

A USTED.

11. General

El acuerdo de licencia entre usted y Nauticapp fija jurisdicción en la Ciudad Autónoma de 

Buenos Aires, siendo ese el foro exclusivo para cualquier disputa derivada o relacionada 

con este CONTRATO. El contrato de licencia constituye el acuerdo completo entre usted y 

Nauticapp con respecto al Software. Si alguna disposición de este CLUF es considerada 

por un tribunal de jurisdicción competente para ser contraria a la ley, tal disposición será 

cambiada e interpretada con el fin de cumplir mejor los objetivos de la disposición original 

hasta el máximo permitido por la ley y el resto de las disposiciones de este acuerdo 

permanecerá en pleno vigor y efecto. Usted no puede ceder este Contrato y la cesión de 

este CLUF por usted será nula y sin valor.  Otros logotipos y nombres comerciales y/o 

marcas que puedan aparecer dentro del contenido de Nauticapp son marcas registradas 

de sus respectivos dueños. Usted se compromete a no utilizar estas marcas en cualquier 

forma sin permiso previo y por escrito de los titulares de dominio. Los títulos de sección y la 

numeración de este CLUF se muestran para su comodidad y no producen efectos 

jurídicos.</p>-->
		</div>

		<table class="fixed EULATable">
			<tr>

				<td>
					<center>
						<md-button hm-tap="closeApp();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary loginBtn EULABtn">Cancelar</md-button>
					</center>
				</td>
				<td>
					<center><md-button hm-tap="advance();" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised md-primary loginBtn EULABtn">Aceptar</md-button></center>
				</td>

			</tr>
		</table>

	</div>
	
	<div class="EULATransparent"></div>
</div>