<div ng-init="button=true" class="content">
    <div class="profile-content">
        <div class="profileImage" style="background-image:url({{profileImage}})">
        </div>
        <md-content layout-padding class="profileContentWrapper">
            <input type="file" style="display:none" accept="image/*" capture="camera">
            <div class="profileInputsWrapper">
                <form name="projectForm" class="profileForm">
                    <h1 class="profileTitle">Información:</h1>
                    <md-divider style="margin-bottom: 15px!important;"></md-divider>
                    <div class="profileInput" layout="row">
                        <span class="profileIcon md-raised nav-icon IconoPerfilNombre" style="font-size:16px;"></span>
                        <md-input-container>
                            <label>Nombre</label>
                            <input required name="name" ng-model="profile.name">
                            <div ng-messages="projectForm.name.$error" role="alert">
                                <div ng-message="required">El nombre no debe estar vacío.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="profileInput" layout="row">
                        <span class="profileIcon md-raised nav-icon IconoMensajesPerfil" style="font-size:16px;"></span>
                        <md-input-container>
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="profile.email" minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="projectForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Tu email debe ser una dirección válida y ser compuesta por entre 5 y 100 caracteres.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="profileInput" layout="row">
                        <span class="profileIcon md-raised nav-icon IconoTicketsPerfil" style="font-size:16px;"></span>
                        <md-input-container>
                            <label>DNI</label>
                            <input required type="text" name="dni" ng-model="profile.dni" />
                        </md-input-container>
                    </div>
                    <div class="profileInput" layout="row">
                        <span class="profileIcon md-raised IconoGenero" style="font-size:16px; top: 19!important;"></span>
                        <md-input-container>
                            <label style="font-size: 16px!important;">Género</label>
                            <md-select placeholder="Seleccione su género" style="padding-bottom: 0!important;" class="formSelect" name="gender" ng-model="profile.gender" required>
                                <md-option value="hombre">Hombre</md-option>
                                <md-option value="mujer">Mujer</md-option>
                            </md-select>
                            <div ng-messages="projectForm.gender.$error" role="alert">
                                <div ng-message-exp="required">
                                    Se debe de elegir un género.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="profileInput" layout="row">
                        <span class="profileIcon md-raised nav-icon IconoFechaPerfil" style="font-size:16px; top: 23px;"></span>
                        <div class="profileBirthdateInputs" layout="row">
                            <md-input-container flex>
                                <label style="position: absolute;font-size: 16px!important;width: 300%;top: -25;">Fecha de nacimiento</label>
                                <md-select placeholder="Día" class="formSelect" ng-model="n">
                                    <md-option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{n}}">{{n}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex>
                                <md-select placeholder="Mes" class="formSelect" ng-model="m">
                                    <md-option ng-repeat="m in [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{m}}">{{m}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex>
                                <md-select placeholder="Año" class="formSelect" ng-model="w">
                                    <md-option ng-repeat="w in years" value="{{w}}">{{w}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </form>

                <h1 ng-show="hasCardsLoaded" class="profileTitle">Tarjetas:</h1>
                <md-divider ng-show="hasCardsLoaded"></md-divider>
                <div class="shipAnimate" layout="column" ng-repeat="card in cards">
                    <div layout="row">
                        <md-button style="background-color: green!important;" class="profileBulletPoint optionsBackground" hm-tap="toggleCardOptions($index)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' aria-label="ccb"></md-button>
                        <table style="table-layout: fixed; margin: 0px 0px 10px 10px; width: calc(100% - 42px);">
                            <tr>
                                <td>
                                    <u style="font-size: 1.5em!important;">{{card}}</u>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                <md-button ng-class="{'visOn': showCardOptions[$index], 'visOff': !showCardOptions[$index]}" style="width: 100%; margin: 0!important;" hm-tap="editCard($event, $index)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised categoryButton" aria-label="cb">
                                    Editar
                                </md-button>
                            </td>
                            <td style="width: 50%;">
                                <md-button ng-class="{'visOn': showCardOptions[$index], 'visOff': !showCardOptions[$index]}" style="width: 100%; margin: 0!important;" hm-tap="deleteCard($event, $index)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised categoryButton" aria-label="cb">
                                    Eliminar
                                </md-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <h1 class="profileTitle">Configuración:</h1>
                <md-divider style="margin-bottom: 15px!important;"></md-divider>

                <md-checkbox style="color: #d11439; margin: 18px!important;" ng-model="profile.wantsNews" aria-label="checkbox">
                    Me interesa recibir información y descuentos.
                </md-checkbox>
                
                <div style="margin-left:5%" layout="column">
                    <label style="margin: 0; margin-bottom: 8px!important; padding: 0; font-size: 15px!important; color: black!important;">Notificaciones:</label>
                    <md-radio-group ng-model="wantsNotifications">
                        <md-radio-button value="1" class="md-primary">Activadas</md-radio-button>
                        <md-radio-button value="0" class="md-primary">Desactivadas</md-radio-button>
                    </md-radio-group>
                </div>
                <md-button ng-hide="isFacebook" class="md-raised md-primary animated flipInY profileButton" hm-tap="resetPassword()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="-webkit-animation-delay: 0.8s">Cambiar contraseña</md-button>
                <md-button class="md-raised md-primary animated flipInY profileButton" hm-tap="addCard($event)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="-webkit-animation-delay: 0.8s">Tarjetas asociadas</md-button>
                <md-button ng-disabled="!thereAreChanges" class="md-raised md-primary animated flipInY profileButton" hm-tap="updateUser()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="-webkit-animation-delay: 1.2s">Guardar cambios</md-button>
                <md-button class="md-raised md-primary animated flipInY profileButton" hm-tap="logOut()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="background-color: #d11439!important; -webkit-animation-delay: 0.8s">Salir de la aplicación</md-button>
                <md-button hm-tap="goEULA()" style="background-color: white; width: 90%; margin: 10px 5%!important; border: 2px solid black;" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}'>Términos y Condiciones</md-button>
            </div>
        </md-content>
    </div>
</div>
