<div style="overflow-y: scroll;" class="content back-content">
	<form class="joinInputPanel" layout="column" layout-padding ngEnter="join();">
		<h1 style="margin: 10 0 0 10; font-size: 2.1em; color: white;">Registro</h1>
		<h4 style="color: white;">Aviso: esta cuenta no es la misma que la de Grisino Fan</h4>
		<md-input-container flex >
			  <label>Nombre</label>
			  <input type="text" ng-required="true" class="login-input" ng-model="firstName"/>
		</md-input-container>
		<md-input-container flex  style="-webkit-animation-delay: 0.3s">
			  <label>Apellido</label>
			  <input type="text" class="login-input" ng-model="lastName" ng-required="true"/>
		</md-input-container>
		<md-input-container flex  style="-webkit-animation-delay: 0.6s">
			  <label>Email</label>
			  <input type="email" class="login-input" ng-model="email" ng-required="true"/>
		</md-input-container>
		<md-input-container flex  style="-webkit-animation-delay: 0.9s">
			  <label>Contraseña</label>
			  <input type="password" ng-focus='focus()' class="login-input" ng-model="password" ng-required="true"/>
		</md-input-container>
		<md-input-container flex  style="-webkit-animation-delay: 1.2s">
			  <label>Repetir contraseña</label>
			  <input type="password" ng-focus='focus()' class="login-input" ng-model="repeatPassword" ng-required="true"/>
		</md-input-container>
		<md-input-container flex  style="-webkit-animation-delay: 1.2s">
			  <label>DNI</label>
			  <input type="text" ng-focus='_checkDNI()' class="dni login-input" ng-model="dni" ng-required="true"/>
		</md-input-container>
		
		<md-checkbox flex style="color: white;" ng-model="wantsNews" aria-label="checkbox">Me interesa recibir información y descuentos
		</md-checkbox>
	
	</form>
	<div style="width: 90%; margin-left:5%;" layout="row" layout-margin>
		<div flex>
			<md-button ui-sref="mainPanel" style="width: 100%!important;" class="md-raised md-primary login loginBtn">Volver</md-button>
		</div>
		<div flex>
			<md-button hm-tap="join()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' class="md-raised login md-primary loginBtn" style="width: 100%;">Aceptar</md-button>
		</div>
	</div>
</div>