<!-- SIDENAV start -->
<md-sidenav ng-cloak class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="sidenav-header">
        <div class="sidenav-back-image" style="background-color: #d60036">
            <span class="userNameLabel">{{name}}</span>
        </div>
        <div class="profile-pic" style="background-image:url({{profileImage}});">
        </div>
        <div style="background-color:rgba(0,0,0,0.5); position:absolute;bottom: 0px;width: 100%; vertical-align: middle middle;text-align: center;z-index: 101;">
            <div ng-show="stars.bool && !isGuest" style="position:absolute; height:30px; width: 30px;background-image:url(assets/images/IconoPerfilEstrellaBlanca.png);left: 17;top: 19px;background-repeat: no-repeat;"></div>
            <div ng-show="stars.bool" ng-click="toggleTooltip()" style="display: table;padding: 20 0;width: 100%;">Estrellas: {{stars.stars}}</div>

            <div class="tooltip" style="font-size: 5vw;display: table;padding: 20 0;width: 100%;">Recuerda! La actualización de estrellas puede demorar un par de días.</div>

            <div ng-hide="stars.bool || isGuest" style="display: table;padding: 20 0;width: 100%;font-size:0.8em;">¡Hacete Grisino Fan <a style="color:#00AAEF!important; text-decoration:underline;" hm-tap="categoryClick('main.grisinofan')" hm-recognizer-options='{"threshold":10,"time":4000,"preventGhosts":true}'>acá</a> para empezar a acumular estrellas!</div>

            <div ng-show="isGuest" style="display: table;padding: 20 0;width: 100%;font-size:0.8em;">¡Estás navegando como <strong style="color: #8cb036;">invitado</strong>!</div>
        </div>
    </md-toolbar>

    <md-content id="sidenavListW" style="height: calc(100% - 200px);">
        <md-list id="sidenavList" class="listdemoListControls">
            <md-button hm-tap="categoryClick(section.htmlName)" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="width: 100%; box-shadow:none; padding: 10px 0px;border-radius: 0px; border: 1px solid rgba(256,256,256,0.4); border-width: .5px 0px .5px 0px;" ng-repeat="section in sections" layout="row">
                <div layout="row">
                    <div flex="20" class="md-raised nav-icon {{section.iconClass}}"></div>
                    <div flex="80">
                        <p id="btnMenu" class="sidenavLabel"> {{section.label}} </p>
                    </div>
                </div>
            </md-button>
            <md-button hm-tap="logout()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' style="width: 100%; box-shadow:none; padding: 10px 0px;border-radius: 0px; border: 1px solid rgba(256,256,256,0.4); border-width: 1px 0px 1px 0px;" layout="row">
                <div layout="row">
                    <div flex="20" class="md-raised nav-icon IconoLogout"></div>
                    <div flex="80">
                        <p id="btnMenu" class="sidenavLabel"> CERRAR SESIÓN </p>
                    </div>
                </div>
            </md-button>
        </md-list>
    </md-content>
</md-sidenav>

<!-- SIDENAV end -->
<div layout="column" class="main" layout-fill layout-align="top center">

    <!-- HEADER start -->
    <md-toolbar ng-class="{'no-opacity': showCamera}" class="master-header header">
        <img ng-hide="stateToggle" id="mainLogo" ui-sref="main.home" src="assets/images/logo-grisino.png" class="logo" />
        <md-button  ng-click="buttonClick()" hm-recognizer-options=\'{"threshold":10,"time":1000,"preventGhosts":true}\' class="md-fab iconWrapper" style="color: black!important;opacity: 1!important; width: 100px!important; background-size: 15% !important;background-repeat: no-repeat;background-position: center center;box-shadow: none;height: 100px!important;position: fixed!important; top: 5!important; left: -30!important; background-color: transparent!important;" aria-label="Use Android">
            <div class="icon">
                <div class="bar linea1"></div>
                <div class="bar linea2"></div>
                <div class="bar linea3"></div>
            </div>
        </md-button>
        <div id="stateName" ng-show="stateToggle" class="textClass">{{state}}</div>
        <div class="headerIconsWrapper">
            <table class="headerIconsTable" ng-disabled="!isShops" ng-hide="!isShops" ng-show="isShops">
                <tr>
                    <td style="padding-right: 7!important;">
                        <md-button id="toggleFilters" disabled class="md-primary headerIcons" style="background-color: #d60036;background: url(assets/images/icon-zoom_30x30px-white.png);" hm-tap="toggleFilters()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' aria-label="Eat cake">
                        </md-button>
                    </td>
                    <td style="padding-right: 7!important;">
                        <md-button id="toggleMap" class="md-primary headerIcons" style="background-color: #d60036;background: url(assets/images/icon-mapa3_30x30px-white.png);" hm-tap="showInfo()" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' aria-label="Eat cake">
                        </md-button>
                    </td>
                </tr>
            </table>
            <table class="headerIconsTable" ng-hide="isShops || isDetail || (!isPromos && !isHome && !isNews)">
                <tr>
                    <td ng-hide="isNews" ng-show="isPromos || isHome" style="padding-right: 5!important;">
                        <md-button disabled class="md-primary headerIcons" style="background: url(assets/images/icon-novedades-blanco.png);" hm-tap="goPath('/main/newsTypes')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' aria-label="Eat cake">
                        </md-button>
                    </td>
                    <td ng-hide="isPromos" ng-show="isNews || isHome" style="padding-right: 5!important;">
                        <md-button class="md-primary headerIcons" style="background: url(assets/images/icon-beneficios-blanco.png);" hm-tap="goPath('/main/promosTypes')" hm-recognizer-options='{"threshold":10,"time":1000,"preventGhosts":true}' aria-label="Eat cake">
                        </md-button>
                    </td>
                </tr>
            </table>
        </div>
    </md-toolbar>

    <div id="toaster"></div>

    <!--<md-button class="md-fab" id="refresher"><md-progress-circular md-mode="indeterminate"></md-progress-circular></md-button>-->
    <!-- HEADER end -->
    <!-- CONTENT start -->
    <div id="view-content" class="view" ui-view></div>
    <!-- CONTENT end -->
</div>
<div flex></div>
