<div class="content"><div class="shops-content"><div style=" margin-top: 70px; padding-bottom: 15px; background-color: white">
					<!-- <div> -->
						<div class="controlSelect">
							<md-select class="shopsComboBox" placeholder="Elija una provincia" ng-value="provincia" ng-model="someVal1">
								<md-option ng-repeat="provincia in provincias" >{{provincia.name}}</md-option>
							</md-select>
						</div>

						<div class="controlSelect">
							<md-select id="localidades" class="shopsComboBox" placeholder="Elija una localidad" ng-model="someVal2">
								<md-option  ng-repeat="localidad in localidades" ng-value="localidad">{{localidad.name}}</md-option>
							</md-select>
						</div>
					
						<div class="controlSelect">
							<md-select class="shopsComboBox" placeholder="Elija un local"  id="local" ng-model="someVal3">
								<md-option ng-repeat="shop in shops" ng-value="shop">{{shop.name}}</md-option>
							</md-select>
						</div>
					<!-- </div> -->
				</div><div class="mapContainer"><div id='map'></div></div></div></div>